.main-about-info {
  color: #312930;
  margin-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  
  &-box {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    align-items: center;
    max-width: 1000px;

    .about-info-el {
      &.gifimage  {
        grid-column: 1/2;
        justify-self: end;
        img {
          max-width: 234px;
          max-height: 234px;
        }
      }
  
      &.smallboldtext {
        grid-column: 2/3;
        font-family: 'PFRegalTextPro';
        font-weight: bold;
        font-size: 25px;
        line-height: 38px;
      }
  
      &.bigboldtext {
        justify-self: end;
        font-family: 'Lineatura';
        font-size: 50px;
        line-height: 68px;
        margin-top: -15px;
        max-width: 450px;
      }
  
      &.smalltext {
        font-family: 'CeraPro';
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.main-about-persons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main-about-slider {
  margin-top: 120px;

  &-box {
    h2 {
      @include UI-Font-PFRegalTextPro-bold;
      margin-bottom: 80px;
    }

    .slider-about-box {
      display: flex;
      flex-direction: column;
      font-family: 'CeraPro';
      overflow: visible;

      .slider-about-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;

        .dates {
          font-size: 20px;
          line-height: 25px;
          width: 65%;
          display: flex;
          justify-content: space-between;

          &.swiper-container {
            margin: unset!important;
          }

          .date-btn.swiper-slide {
            border-bottom: 2px solid #ffffff;
            width: auto!important;
            margin-right: 60px;

            &:last-child {
              margin-right: 0px;
            }
          }

          .date-btn.swiper-slide.swiper-slide-thumb-active {
            color: #ee7754;
            border-bottom: 2px solid #ee7754;
            padding-bottom: 2px;
          }
        }
      }

      .slider-about-container {
        margin-top: 86px;

        &-el {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .description {
            max-width: 35%;
            &-title {
              font-family: 'PFRegalTextPro';
              font-weight: bold;
              font-size: 25px;
              line-height: 34px;
              margin-bottom: 26px;
            }

            &-text {
              font-size: 16px;
              line-height: 24px;
            }
          }

          .image {
            position: relative;
            img {
              position: relative;
              z-index: 2;
              margin-right: 50px;
            }

            &-date {
              font-family: 'Lineatura';
              line-height: 78px;
              position: absolute;
              top: 0;
              right: 0;

              span.back {
                font-size: 110px;
                color: #fff;
                text-shadow: 0 0 1px #221d21;
                z-index: 1;
                position: absolute;
                top: -38%;
                left: -25%;
              }

              span.front {
                position: relative;
                font-size: 260px;
                color: #EE7754;
                z-index: 3;
                right: -5px;
              }
            }
          }
        }
      }
    }
  }
}

.main-about-awards {
  &-box {
    overflow: visible;
    .main-about-awards-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      h2 {
        @include UI-Font-PFRegalTextPro-bold;
      }
    }
  }

  &-content {
    &.swiper-wrapper {
      display: flex;
      justify-content: space-between;
      overflow: visible!important;

      .slider-awards-el {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .award-data {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .medal {
            position: relative;
            z-index: 10;
            margin-bottom: 30px;
          }
  
          .time-medal {
            position: relative;
            z-index: 10;
            bottom: 0;
            font-family: 'CeraPro';
            font-size: 14px;
          }
        }

        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 230px;
          height: 136px;
          background: #D7F9DF;
          transform: skewX(-10deg) translateX(-50%);
          left: 50%;  
          top: 31%;
        }

        .description-award {
          margin-top: 40px;
          .title {
            font-family: 'CeraPro';
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.about-invert {
  .about-box-rectangle:before {
    background: #F6F5F3;
  }
}