section {
  &.prevs {
    padding-top: 130px;
    position: relative;

    @include screen('xs', 'max') {
      padding-top: 50px;
    }
  }

  &.info {
    padding-top: 70px;
    position: relative;

    @include screen('custom-860', 'max') {
      padding-top: 0px;
    }
  }
}

.main-partners-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 216px;
  padding-bottom: 120px;
  @include screen('lg', 'max') {
    padding-bottom: 70px;
  }
  @include screen('custom-800', 'max') {
    padding-top: 166px;
  }

  @include screen('xs', 'max') {
    padding-top: 116px;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-text-main;
    font-family: 'CeraPro';

    @include screen('xs', 'max') {
      justify-content: space-between;
      width: 100%;
      max-width: 325px;
    }

    &-link {
      font-size: 25px;
      line-height: 31px;
      transition: 0.2s;
      margin-right: 50px;

      &.active {
        color: $color-text-complementary-two;
        position: relative;

        &::after {
          display: block;
          content: '';
          height: 1px;
          color: $color-text-complementary-two;
          background: $color-text-complementary-two;
        }
      }

      @include screen('sm', 'max') {
        font-size: 20px;
        margin-right: 20px;
      }

      @include screen('xs', 'max') {
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
      }

      &:hover {
        color: $color-text-complementary-two;
      }
    }
  }

  &-description {
    @include UI-Font-PFRegalTextPro-bold;
    margin-top: 99px;
    margin-bottom: 150px;
    position: relative;
    width: 90%;
    z-index: 1;
    @include screen('lg', 'max') {
      margin-bottom: 30px;
     }
    &::before {
      content: "";
      width: 1289px;
      height: 352px;
      position: absolute;
      background-repeat: no-repeat;
      z-index: -1;
      top: -112%;
      left: -38%;
      transform: translate(50%, 50%);
      z-index: -1;

      @include screen('lg', 'max') {
       display: none;
      }
    }

    & > span {
      position: relative;

      &::after {
        content: "";
        width: 407px;
        height: 74px;
        position: absolute;
        bottom: -70%;
        left: 50%;
        background: url('../images/text-border-dashed.svg');
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        z-index: -1;

        @include screen('lg', 'max') {
          display: none;
        }
      }
    }

    @include screen('sm', 'max') {
      margin-top: 50px;
    }

    @include screen('xs', 'max') {
      margin-top: 40px;
      margin-bottom: 90px;
      width: 100%;
    }
  }
}

.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10%;

  @include screen('custom-860', 'max') {
    grid-template-rows: auto 1fr 1fr auto;
    grid-column-gap: unset;
  }

  &-header {
    grid-column: 2 / 4;
    width: 384px;
    justify-self: baseline;
    align-self: center;

    @include screen('custom-860', 'max') {
      grid-column: 1 / 4;
      font-size: 34px;
      width: 100%;
      justify-self: initial;
      align-self: initial;
    }

    & > p {
      @include UI-Font-PFRegalTextPro-bold;
    }
  }

  &-el {
    grid-row: 2 / 3;

    @include screen('sm', 'max') {
      grid-row: unset;
      grid-column: 1 / 4;
    }

    & > h3 {
      font-family: 'Lineatura';
      color: $color-text-complementary-two;
      font-size: 110px;
      margin-bottom: 59px;
  
      @include screen('md', 'max') {
        font-size: 100px;
        margin-bottom: 39px;
      }
  
      & > sup {
        font-size: 20px;
        vertical-align: super;
        position: relative;
        left: -38px;
        top: -28px;
  
        @include screen('md', 'max') {
          font-size: 16px;
        }
      }
    }

    & > p {
      font-family: 'CeraPro';
      color: $color-text-main;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
  
      @include screen('md', 'max') {
        font-size: 17px;
      }
  
      &::before {
        display: block;
        content: '';
        width: 25px;
        height: 4px;
        margin-right: 15px;
        background: $color-text-complementary-two;
      }
    }
  }

  &-details {
    display: grid;
    align-items: end;
    grid-column: 2 / 3;
    align-items: center;
    position: relative;
    text-align: center;

    @include screen('sm', 'max') {
      grid-column: 1 / 4;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 90px
    }

    &::after {
      position: absolute;
      content: "";
      width: 1098.09px;
      height: 503px;
      display: block;
      right: 30%;
      bottom: -50%;
      transform: translateX(15%) translateY(-20%);
      background-repeat: no-repeat;

      @include screen('md', 'max') {
        right: 12%;
        bottom: -69%;
      }

      @include screen('sm', 'max') {
        transform: translateX(8%) translateY(19%);
      }
      
      @include screen('xs', 'max') {
        transform: translateX(8%) translateY(19%);
      }
    }

    & > a {
      display: block;
      font-size: 20px;
      font-family: 'CeraPro';
      position: relative;
      z-index: 1; 

      & > .bottomLines {
        width: 100%;
        height: 21px;
        display: block;
        position: absolute;
        left: 16%;
        top: 100%;

        &:before {
          content: "";
          display: block;
          width: 209px;
          height: 100%;
          position: absolute;
          background-size: cover;
          background: url("../images/info-box-details-dashed.svg");
          background-repeat: no-repeat;
          top: 0;

          @include screen('xs', 'max') {
            left: 80%;
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}

.prevs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 187px;

  @include screen('xs', 'max') {
    align-items: flex-start;
  }

  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;

    @include screen('xs', 'max') {
      margin-bottom: 40px;
    }

    & > i {
      @include screen('custom-660', 'max') {
        display: none;
      }
    }

    @include screen('xs', 'max') {
      margin-bottom: 40px;
    }

    & > h2 {
      @include UI-Font-PFRegalTextPro-bold;
      width: 839px;
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    @include screen('xs', 'max') {
      flex-direction: column;
    }

    &::before {
      position: absolute;
      content: '';
      background: url('../images/section-prev-background.svg');
      width: 985px;
      height: 380px;
      display: block;
      bottom: 0%;
      right: -10%;
      background-repeat: no-repeat;
      z-index: -1;

      @include screen('md', 'max') {
        display: none;
      }
    }

    &-el {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 26%;
      margin-bottom: 46px;
      position: relative;
      box-sizing: border-box;

      @include screen('md', 'max') {
        margin-bottom: 40px;
      }

      @include screen('custom-1235', 'max') {
        width: calc(100% / 2);
      }
      
      @include screen('custom-660', 'max') {
        width: 100%;
      }

      .pack {
        position: relative;
        bottom: -50px;
        @include screen('md', 'max') {
          left: 50%;
          position: absolute;
          padding-top: 10px;
          transform-origin: left;
        }
      }

      &:nth-child(n+4) {
        @include screen('md', 'min') {
          margin-bottom: 0px;
        }
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 26px;
        display: flex;
        align-items: flex-end;
      }

      p {
        font-family: 'CeraPro';
        font-size: 18px;
        color: $color-text-main;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}