block variables
include ../mixins/mixins
include ../mixins/ui
include ../modules/forms.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(href='css/style.min.css' rel='stylesheet')
        link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
        link(rel="apple-touch-icon" href="/images/appletouch.png")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Название сайта")
        meta(property="og:title" content="Заголовок")
        meta(property="og:description" content="Описание страницы")
        meta(property="og:url" content="/")
        meta(property="og:locale" content="ru_RU")
        meta(property="og:image" content="/images/opengraph.jpg")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
    body
        svg.shape-overlays.hide(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 100 100", preserveAspectRatio="none")
            path.shape-overlays__path(d="M 0 100 C 50 100 50 100 100 100 V 100 H 0")
            path.shape-overlays__path(d="M 0 100 C 50 100 50 100 100 100 V 100 H 0")
            path.shape-overlays__path(d="M 0 100 C 50 100 50 100 100 100 V 100 H 0")
        .loader
            .img-back
                .img-front-container
                    .img-front
        .container.visual-animation-base-block-m
            block content
            include ../modules/footer
        .modal
            .modal-bg
            .modal-content#quest
                a#controlModal
                    span
                +askQuestionFormModal()
            .modal-content#success
                a#controlModal
                    span
                .contact-box-header
                    h2 Мы вам перезвоним
        #scroll-box-events
        script(src='js/scripts.min.js')
        block scripts