mixin footer-box-nav-social-group-link(json)
  each data in json
    a.footer-box-nav-social-group-link(href=data.link, target="_blank")
      +icon(data.ico, 'svg')

mixin footer()
  footer.footer&attributes(attributes)
    .content.footer-box
      .footer-box-row
        .footer-box-nav-production
          .footer-box-nav-production-left
            .footer-box-nav-production-left-group
              a(href="./catalog.html") Продукция
              .footer-box-nav-production-left-group-desc Сыры, масла, сыворотка
            .footer-box-nav-production-left-group
              a(href="#") О нас
              .footer-box-nav-production-left-group-desc Кто мы и как работаем
          .footer-box-nav-production-right
            a(href="#") Где купить
            a(href="./news_list.html") Новости и акции
            a(href="./partners.html") Партнерам
            a(href="#") Контакты
        .footer-box-nav-contact
          .footer-box-nav-contact-group
            .footer-box-nav-contact-group-name Адрес
            .footer-box-nav-contact-group-desc 385600, Россия, Республика Адыгея, Гиагинский район, станица Гиагинская, ул. Ленина, 142
          .footer-box-nav-contact-group
            .footer-box-nav-contact-group-name Часы работы
            .footer-box-nav-contact-group-desc Понедельник ­–­­ Пятница 8:00 ­–­­ 17:00
          .footer-box-nav-contact-group
            .footer-box-nav-contact-group-name Выходные дни
            .footer-box-nav-contact-group-desc Суббота, Воскресенье
        .footer-box-nav-tel
          .footer-box-nav-tel-group
            .footer-box-nav-tel-group-desc Служба поддержки потребителей
            a.footer-box-nav-tel-group-number(href="tel:88002509393") 8 800 250-93-93
          +link('Задать вопрос', '#')
        .footer-box-nav-adderlinks
          a(href="#") Политика конфиденциальности
          a(href="#") Положение о персональных данных
          a(href="#") СОУТ
        .footer-box-nav-social
          .footer-box-nav-social-title Мы в социальных сетях
          .footer-box-nav-social-group
            +footer-box-nav-social-group-link(getData('footer'))
        .footer-box-nav-copyright © ОАО Молочный завод «Гиагинский» 2020 г.
        .footer-box-nav-worked Сделано в 
          a(href="https://cloudmill.ru" target="_blank") CloudMill