//- 

mixin buttonSubmit(name)
  button.main-link(type="submit") #{name}
    span.bottomLines
    span.morphPlus


//- FORMS

//-форма подписки
mixin subscriptionForm
  section.subscription&attributes(attributes)
    .content.subscription-box
      form.subscription-box-form
        h2 Подпишитесь на нас
        .main-field
          input(type="email" id="email-sub" placeholder="Введите почту")
          label(class="main-field-addon")
            button
              +icon('arrow', 'svg')
      .subscription-box-marquee


mixin askQuestionForm
  section.contact&attributes(attributes)
    .content.contact-box
      .contact-box-header
        h2 Задайте вопрос или оставьте заявку на сотрудничество
      .contact-box-content
        form.contact-box-form#askQuestionForm
          .contact-box-form-el
            +inputField('text', 'name', 'Ваше имя')
            +inputField('text', 'phone', 'Ваш телефон', null)
            +inputField('text', 'email', 'Ваша почта для ответа', false)
          .contact-box-form-el
            +textarea('question', '29', '10', 'Ваш вопрос', 'необязательно')
          .contact-box-form-el
            +checkbox('agree', 'agree', 'Согласие на обработку персональных данных в соответствии с политикой конфиденциальности')
          .contact-box-form-el
            +buttonSubmit('Отправить')
        .contact-box-success
          .contact-box-success-text Ваше сообщение успешно отправлено. Ответим вам, как только сможем.
          +buttonSubmit('Отправить еще')

mixin contactUsForm
  section.contact&attributes(attributes)
    .content.contact-box
      .contact-box-header
        h2 Связаться с нами
      .contact-box-content
        form.contact-box-form 
          .contact-box-form-el
            +inputField('text', 'name', 'Ваше имя')
            +inputField('text', 'phone', 'Ваш телефон', null)
            +inputField('email', 'email', 'Ваша почта для ответа', false)
          .contact-box-form-el
            +textarea('question', '29', '10', 'Ваш вопрос', 'необязательно')
          .contact-box-form-el
            +checkbox('agree', 'agree', 'Согласие на обработку персональных данных в соответствии с политикой конфиденциальности')
          .contact-box-form-el
            +buttonSubmit('Задать вопрос')
        .contact-box-success
          .contact-box-success-text Ваше сообщение успешно отправлено. Ответим вам, как только сможем.
          +buttonSubmit('Отправить еще')
