include ../modules/forms.pug

mixin header-box-nav-el(json)
  each data in json
    .header-box-nav-el
      a.header-box-nav-el-link(href=data.link) #{data.title}
      .header-box-nav-el-desc #{data.description}

mixin right-group-link(json)
  each data in json
    a.right-group-link(href=data.link)
      +icon(data.ico, 'svg')

mixin header
  .header
    .header-static.visual-animation-base-block-m
      .header-bg
      .header-box
        a.header-box-logotype(href="/")
          +icon('logotype', 'svg')
          //-+icon('logotype-short', 'svg')
        button.header-box-nav-button#change-nav
          .burger
            span
          +icon('navigation', 'svg')
      .header-box-nav.lg
        .wrapper
          +header-box-nav-el(getData('header'))
      .header-buttom
        .header-buttom-nav
          a(href="#") Как мы это делаем
          a(href="./news_list.html") Новости и акции
          a(href="./partners.html") Партнерам
          a(href="#") Рецепты
          a(href="./contacts.html") Контакты
        .header-buttom-help
          .left
            .left-desc Служба поддержки потребителей
            a.left-number(href="tel:88002509393") 8 800 250-93-93
            +link('Задать вопрос', '#')#controlModal(data-target='quest')
          .right
            .right-desc Мы в социальных сетях
            .right-group
              +right-group-link(getData('footer'))
        .header-buttom-footer
          .left © ОАО Молочный завод «Гиагинский» 2020 г.
          .right Сделано в  
            a(href="https://cloudmill.ru" target="_blank") CloudMill