mixin header-box-nav-el(json)
  each data in json
    .header-box-nav-el
      a.header-box-nav-el-link(href=data.link) #{data.title}
      .header-box-nav-el-desc #{data.description}

mixin header
  .header
    .header-box
      a.header-box-logotype(href="#main")
        +icon('logotype', 'svg')
      .header-box-nav.lg
        +header-box-nav-el(getData('header'))
      a.header-box-nav-button#change-nav(href="#nav")
        +icon('navigation', 'svg')