mixin info-box-el(json)
  each data in json
    .info-box-el
      h3 #{data.number} <sup>#{data.units}</sup>
      p #{data.text}
      
mixin info_partners
  section.info#info&attributes(attributes)
    .content.info-box
      .info-box-header
        p За 2019 год мы произвели
      +info-box-el(getData('info'))
      .info-box-details
        a(href="#details") Скачать презентацию