mixin main-partners-box-nav-el(json)
  each data in json
    a.main-partners-box-nav-link(href=data.link) #{data.title}

mixin main-partners()
  section.main-partners#main-partners&attributes(attributes)
    .content.main-partners-box
      .main-partners-box-nav
        +main-partners-box-nav-el(getData('main'))
      h2.main-partners-box-description Продукция завода <span class="text-border-dashed">«Гиагинский»</span> представлена во всех федеральных сетях, а потребители знают и ищут именно наш бренд.