mixin prevs-row-el(json)
  each data in json
    .prevs-box-row-el
      .prevs-box-row-el-icon
        +icon(data.icon, 'svg')(class=data.icon)
      p #{data.text}

mixin prevs
  section.prevs&attributes(attributes)
    .content.prevs-box
      .prevs-box-info
        h2 Имеем эксклюзивное право на производство Адыгейского сыра и производим по технологии НМПТ
        +icon('prevslogo', 'svg')
      .prevs-box-row
        +prevs-row-el(getData('prevs'))
        .prevs-box-row-el
          +icon('pack', 'svg')(class="pack")