mixin recept-slider(json)
  each data in json
    a.recepts-box-slider-card.swiper-slide(href=data.link)
      img(src="./images/" + data.image, alt=data.title).fullImg
      .recepts-box-slider-card-text
        p.title #{data.title}
        p.time #{data.time}
          +icon('timer', 'svg')
          
mixin recepts(title_type)
  section.recepts
    canvas.recepts-dashed(width="100%", height="100%")
    .content.recepts-box
      .recepts-box-left 

        if(title_type == 1)
          h2.visual-animation-base Рецепты <br>с адыгейским сыром
        else
          h2.visual-animation-base Другие рецепты

        .visual-animation-base-block
          .recepts-box-left-arrows.main-slider-buttons
            +btn-slider('left').bg-additional#slider-recepts-left
            +btn-slider('right').bg-additional#slider-recepts-right
          +link('Все рецепты', './recept_list.html', 'true')
      .recepts-box-right
        .recepts-box-slider
          .swiper-wrapper
            +recept-slider(getData('sliders/recepts'))