mixin subscription
  section.subscription&attributes(attributes)
    .content.subscription-box
      form.subscription-box-form
        h2 Подпишитесь на нас
        .main-field
          input(type="email" id="email-sub" placeholder="Введите почту")
          label(for="email-sub" class="main-field-name") Ваше имя
          label(class="main-field-addon")
            button
              +icon('arrow', 'svg')
      .subscription-box-marquee