mixin wherebuy
  section.wherebuy
    .content.wherebuy-box
      .wherebuy-group&attributes(attributes)
        .left
          .title Где купить?
          .desc Мы представлены в самые крупных и популярных торговых сетях в России.
        .right
          +link('Подробнее', '#', 'true')
    .shopsbg-marquee
      .shops