@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/normalize.css/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/pngSprite";
@import "base/svgSprite";
@import "base/default";

@import "modules/footer";
@import "modules/subscription";
@import "modules/about";
@import "modules/contact";
@import "modules/prevs";
@import "modules/info_partners";
@import "modules/header";

.bg-white {
  background-color: $background-white;
}

.bg-additional {
  background-color: $background-additional;
}

.content {
  max-width: $max-width-main;
  margin: 0 auto;
}

.container {
  padding-top: $container-padding;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @include screen('xs', 'max') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

section {
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  
  &.main {
    background-color: $background-additional;
  }

  &.info {
    padding-top: 120px;
    position: relative;

    @include screen('custom-860', 'max') {
      padding-top: 0px;
    }

    &::after {
      display: block;
      content: '';
      background-image: url('../images/section-main-header.svg');
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      top: -50px;
      background-size: cover;
    }
  }

  &.contact {
    padding-top: 120px;

    @include screen('xs', 'max') {
      padding-top: 60px;
    }
  }

  &.about {
    padding-top: 120px;
  }

  &.subscription {
    padding-top: 200px;
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 216px;

  @include screen('custom-800', 'max') {
    padding-top: 166px;
  }

  @include screen('xs', 'max') {
    padding-top: 116px;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-text-main;
    font-family: 'CeraPro';

    &-link {
      font-size: 25px;
      line-height: 31px;
      transition: 0.2s;
      margin-right: 50px;

      @include screen('sm', 'max') {
        font-size: 20px;
        margin-right: 20px;
      }

      @include screen('xs', 'max') {
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
      }

      &::after {
        margin-top: 5px;
        display: block;
        content: '';
        height: 1px;
        color: $color-text-complementary-two;
        background: $color-text-complementary-two;
        visibility: hidden;
      }

      &:hover {
        color: $color-text-complementary-two;
      }

      &:hover::after {
        visibility: visible;
      }
    }
  }

  &-description {
    font-family: 'PFRegalTextPro';
    font-size: 52px;
    line-height: 52px;
    margin-top: 99px;
    margin-bottom: 150px;
    position: relative;
    width: 90%;
    z-index: 1;

    &::before {
      content: "";
      width: 1289px;
      height: 352px;
      position: absolute;
      background: url('../images/main-right-dash.svg');
      background-repeat: no-repeat;
      z-index: -1;
      top: -112%;
      left: -38%;
      transform: translate(50%, 50%);
      z-index: -1;

      @include screen('lg', 'max') {
       display: none;
      }
    }

    & > span {
      position: relative;

      &::after {
        content: "";
        width: 407px;
        height: 74px;
        position: absolute;
        bottom: -70%;
        left: 50%;
        background: url(../images/text-border-dashed.svg);
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        z-index: -1;

        @include screen('lg', 'max') {
          display: none;
        }
      }
    }

    @include screen('sm', 'max') {
      font-size: 34px;
      margin-top: 50px;
      line-height: 110%;
    }

    @include screen('xs', 'max') {
      margin-top: 40px;
      font-size: 24px;
      margin-bottom: 90px;
      line-height: 110%;
      width: 100%;
    }
  }
}

.main-checkbox {
  margin-bottom: 36px;

  @include screen('custom-660', 'min') {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
      margin-left: 15px;
      color: $color-text-main;
      font-size: 14px;
    }
  }
}

.main-field {
  position: relative;
  font-size: 20px;
  color: $color-text-main;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  font-family: 'CeraPro';

  &-name {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s; 
  }

  &-addon {
    position: absolute;
    top: -20px;
    display: block;
    right: 0px;
    font-size: 12px;
  }

  input, textarea {
    border-bottom: 1px solid $color-text-main;
    position: relative;
    width: 100%;
    font-size: 20px;

    &::placeholder {
      color: transparent;
    }

    &:focus + .main-field-name {
      transition: 0.2s;
      top: -30px;
      color: $color-text-complementary-two;
    }
  }
}