@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/normalize.css/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/pngSprite";
@import "base/svgSprite";
@import "base/default";

@import "modules/footer";
@import "modules/subscription";
@import "modules/about";
@import "modules/contact";
@import "modules/prevs";
@import "modules/info-partners";
@import "modules/main-partners";
@import "modules/header";
.fullImg {
  width: auto;
  height: 100%;
  &.auto-height {
    width: 100%;
    height: auto;
  }  
}


.bg-white {
  background-color: transparent;
}

.bg-additional {
  background-color: $background-additional;
}

.content {
  max-width: $max-width-main;
  margin: 0 auto;
}

.container {
  padding-top: $container-padding;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @include screen('xs', 'max') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

section {
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;

  &.info {
    padding-top: 120px;
    position: relative;

    @include screen('custom-860', 'max') {
      padding-top: 0px;
    }

    &::after {
      display: block;
      content: '';
      background-image: url('../images/section-main-header.svg');
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      top: -50px;
      background-size: cover;
    }
  }

  &.contact {
    padding-top: 120px;

    @include screen('xs', 'max') {
      padding-top: 60px;
    }
  }

  &.about {
    padding-top: 120px;
  }

  &.subscription {
    padding-top: 200px;
  }
}

.main-checkbox {
  margin-bottom: 36px;

  @include screen('custom-660', 'min') {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
      margin-left: 15px;
      color: $color-text-main;
      font-size: 14px;
    }
  }
}

.main-field {
  position: relative;
  font-size: 20px;
  color: $color-text-main;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  font-family: 'CeraPro';

  &-name {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s; 
  }

  &-addon {
    position: absolute;
    top: -20px;
    display: block;
    right: 0px;
    font-size: 12px;
  }

  input, textarea {
    border-bottom: 1px solid $color-text-main;
    position: relative;
    width: 100%;
    font-size: 20px;

    &::placeholder {
      color: transparent;
    }

    &:focus + .main-field-name {
      transition: 0.2s;
      top: -30px;
      color: $color-text-complementary-two;
    }
  }
}

.rouded-buttons-group {
  button {
    border-radius: 100px;
    width: 61px;
    height: 61px;
    display: inline-block;
    margin-right: 19px;

    @include screen('custom-860', 'max') {
      display: none;
    }

    &.left {
      transform: rotate(-180deg);
    }

    &:last-child {
      margin-right: 0px;
    }
  }  
}

.main-index {
  background-image: url('../images/main-index.png');
  background-size: cover;
  background-position: bottom;
  min-height: 900px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &-box {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    max-width: 1300px;

    @include screen('sm', 'max') {
      padding-top: 0px;
    }

    &-slider {
      &-el {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include screen('sm', 'max') {
          flex-direction: column;
          justify-content: flex-start;
        }

        @include screen('xs', 'max') {
          margin-top: -80px;
        }

        &-left {
          position: relative;
          top: 80px;

          @include screen('lg', 'max') {
            transform: scale(.8);
          }

          @include screen('md', 'max') {
            transform: scale(.7);
          }

          @include screen('xs', 'max') {
            transform: scale(.6);
            margin-bottom: -50px;
          }
        }

        &-right {
          width: 40%;
          @include screen('sm', 'max') {
            width: 100%;
            padding-bottom: 140px;
          }
          color: $color-text-main;

          & > h2 {
            font-family: 'Lineatura';
            font-size: 70px;
            line-height: 68px;
            margin-bottom: 39px;

            @include screen('lg', 'max') {
              font-size: 50px;
              line-height: 48px;
            }

            @include screen('xs', 'max') {
              font-size: 30px;
              margin-bottom: 20px;
            }
          }

          & > p {
            font-family: 'CeraPro';
            font-size: 20px;
            line-height: 31px;
            margin-bottom: 49px;

            @include screen('xs', 'max') {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 20px;
            }
          }

          & > a {
            font-family: 'CeraPro';
            font-size: 17px;
          }
        }
      }
    }

    &-control {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 1400px;
      margin: 0 auto;
      position: relative;
      padding-bottom: 70px;

      @include screen('custom-860', 'max') {
        flex-direction: column;
      }

      &-items {
        position: absolute;
        right: 0px;
        z-index: 9999;

        @include screen('custom-860', 'max') {
          right: unset;
        }

        &-el {
          background: $background-white;
          border-radius: 100px;
          width: 61px;
          height: 61px;
          display: inline-block;
          margin-right: 19px;
          position: relative;

          &::before {
            content: '';
            border-radius: 100%;
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            left: 5px;
            background: #fff;
            border: 2px solid #d3d3d3;
            top: 50%;
            transform: translate(50%,-50%);
          }

          &.active {
            &::after {
              content: '';
              position: absolute;
              display: block;
              height: 20px;
              width: 2px;
              background: $color-text-main;
              top: -15%;
              left: 48%;
            }
          }
        }
      }
    }
  }
}

.recepts {
  &-box {
    padding-top: 236px;
    padding-bottom: 236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include screen('md', 'max') {
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include screen('md', 'max') {
      flex-direction: column;
      padding-top: 40px;
    }
    
    &::after {
      content: '';
      width: 1693px;
      height: 716px;
      position: absolute;
      background: url('../images/recepts-dashed.svg');
      background-repeat: no-repeat;
      top: 0%;
      left: -20%;
      z-index: -1;

      @include screen('md', 'max') {
        display: none;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 30%;

      @include screen('md', 'max') {
        width: 100%;
        margin-bottom: 40px;
      }

      & > h2 {
        font-family: 'PFRegalTextPro';
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 80px;

        @include screen('md', 'max') {
          font-size: 34px;
          margin-bottom: 15px;
          line-height: 33px;
        }

        @include screen('xs', 'max') {
          font-size: 30px;
          margin-bottom: 15px;
        }
      }

      & > a {
        font-family: 'CeraPro';
        font-size: 17px;
        color: $color-text-main;
      }

      &-arrows {
        margin-bottom: 80px;

        @include screen('md', 'max') {
          margin-bottom: 20px;
        }

        @include screen('sm', 'max') {
          display: none;
        }
      }
    }

    &-right {
      width: 65%;

      @include screen('md', 'max') {
        width: 100%;
      }

      &::after {
        position: absolute;
        top: 12%;
        right: 28%;
        display: block;
        content: "";
        background: url(../images/recepts-slider.gif);
        width: 253px;
        height: 254px;
        transform: translateX(50%);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;

        @include screen('md', 'max') {
          display: none;
        }
      }
    }

    &-slider {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 90%;
      margin-left: 10%;
      overflow: hidden;
      padding-bottom: 40px;
      padding-top: 13px;

      @include screen('md', 'max') {
        width: 100%;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: visible;
      }

      @include screen('xs', 'max') {
        width: calc(100% - 60px);
      }

      &-card {
        height: 428px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        overflow: hidden;
        display: block;
        text-decoration: none;
        transition: transform 0.3s;
        cursor: pointer;

        @include screen('md', 'min') {
          &:nth-child(even) {
            top: 40px;
          }
        }

        &:last-child {
          margin-left: 0px;
        }

        &:hover {
          transform: translateY(-10px);
        }

        &-text {
          padding: 20px 30px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          color: #ffffff;
          font-family: 'CeraPro';
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 100%;

          & > p.title {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 22px;
            line-height: 24px;

            @include screen('xs', 'max') {
              font-size: 18px;
              line-height: 22px;
            }
          }

          & > p.time {
            font-size: 14px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: flex-end;

            & > i.svg-icon.svg-timer {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.promo {
  position: relative;

  span.bottom-ellips {
    height: 120px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 120px;
      left: 0px;
      box-sizing: content-box;
      border-radius: 50%/50%;
      padding: 0 70px;
      margin-left: -50px;
      background: $background-additional;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    top: -60px;
    left: 0px;
    box-sizing: content-box;
    border-radius: 50%/50%;
    padding: 0 70px;
    margin-left: -50px;
    background: #ffffff;
  }

  &-box {
    display: flex;
    flex-direction: column;
    color: #312930;
    padding-top: 222px;
    padding-bottom: 367px;

    @include screen('sm', 'max') {
      padding-top: 111px;
      padding-bottom: 111px;
    }

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 111px;
      position: relative;

      &::after {
        content: "";
        width: 737px;
        height: 648px;
        position: absolute;
        background: url('../images/promo-box-dashed.svg');
        background-repeat: no-repeat;
        top: -47%;
        right: 62%;
        transform: translate(50%,50%);
        z-index: 1;

        @include screen('md', 'max') {
          display: none;
        }
      }

      @include screen('sm', 'max') {
        flex-direction: column;
        padding-bottom: 50px;
      }
      
      @include screen('xs', 'max') {
        padding-bottom: 0;
      }

      .top {
        &-left {
          z-index: 2;
          position: relative;
          margin-right: 30px;

          @include screen('sm', 'max') {
            margin-right: 0px;
            padding: 10px;
          }

          & > i.svg-icon.svg-promo-box-top-text {
            position: absolute;
            bottom: 0;
            left: 18%;
          }

          & > img {
            width: 100%;
          }

          @include screen('md', 'max') {
            width: 50%;
          }

          @include screen('sm', 'max') {
            width: 100%;
          }
        }

        &-right {
          z-index: 2;
          font-family: 'CeraPro';
          width: 40%;

          @include screen('md', 'max') {
            width: 50%;
          }

          @include screen('sm', 'max') {
            width: 100%;
            padding-top: 50px;
          }

          & > h2 {
            font-family: 'PFRegalTextPro';
            font-weight: bold;
            font-size: 52px;
            line-height: 52px;
            margin-bottom: 40px;

            @include screen('md', 'max') {
              font-size: 34px;
              margin-bottom: 40px;
              line-height: 33px;
            }

            @include screen('xs', 'max') {
              font-size: 30px;
            }
          }

          & > p {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 40px;

            @include screen('xs', 'max') {
              font-size: 16px;
            }
          }

          & > a {
            font-size: 17px;
            position: relative;

            &::after {
              content: "";
              width: 235px;
              height: 93px;
              position: absolute;
              left: 50%;
              top: 80%;
              background: url('../images/nmtp-button.svg');
              transform: translate(-50%,-50%);
              background-repeat: no-repeat;
              z-index: 1;
              
              @include screen('sm', 'max') {
                display: none;
              }
            }
          }
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      position: relative;

      .bottom-img {
        position: absolute;
        bottom: -20%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include screen('lg', 'max') {
          position: relative;
          right: 50%;
          transform: translateX(50%);
          margin-bottom: 50px;
        }

        @include screen('xs', 'max' ) {
          margin-top: -80px;
        }

        i.svg-icon.svg-prevslogo {
          width: 150px;
          height: 150px;
          background-size: contain;
          position: absolute;
          top: -75%;
          right: 6%;
          transform-origin: bottom right;

          @include screen('lg', 'max') {
            position: relative;
            top: 0%;
            width: unset;
            height: unset;
            transform: scale(.9);
          }

          @include screen('sm', 'max') {
            transform: scale(.7);
          }

          @include screen('xs', 'max') {
            transform: scale(.6);
          }
        }

        .mountains {
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          width: 1001px;
          height: 357px;
          right: -10%;

          img {
            @include screen('lg', 'max') {
              height: auto;
              width: 100%;
              margin: 0 auto;
            }  
          }

          @include screen('custom-1491', 'max') {
            right: 0;
            width: 100%;
            height: auto;
          }

          & > .mountains-cheese {
            position: absolute;
            background: url('../images/cheese.gif');
            background-size: contain;
            background-repeat: no-repeat;
            width: 294px;
            height: 294px;
            bottom: -30%;
            right: 58%;
            
            @include screen('md', 'max') {
              width: 194px;
              height: 194px;
            }
            
            @include screen('sm', 'max') {
              width: 154px;
              height: 154px;
            }

            @include screen('xs', 'max') {
              width: 84px;
              height: 84px;
              bottom: -20%;
            }    
          }

          & > i.svg-icon.svg-rhombus.rhombus-1 {
            position: absolute;
            right: 13%;
            bottom: -18%;

            @include screen('sm', 'max') {
              transform: scale(.7);
              bottom: -31%;
            }

            @include screen('xs', 'max') {
              transform: scale(.4);
              bottom: -50%;
              right: 0%;
            }
          }

          & > i.svg-icon.svg-rhombus.rhombus-2 {
            position: absolute;
            right: 22%;
            bottom: 5%;
            transform: scale(.7);

            @include screen('lg', 'max') {
              display: none;
            }
            
          }
        }
      }
      
      .bottom-text {
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 79%;
        color: #312930;

        @include screen('lg', 'max') {
          width: 100%;
          padding-top: 50px;
        }

        @include screen('xs', 'max') {
          padding-top: 0;
        }

        h2 {
          font-weight: bold;
          font-size: 52px;
          line-height: 52px;
          font-family: 'PFRegalTextPro';
          margin-bottom: 44px;

          @include screen('md', 'max') {
            font-size: 34px;
            margin-bottom: 40px;
            line-height: 33px;
          }
        }

        .text-desc {
          display: flex;
          flex-direction: column;
          width: 50%;

          @include screen('lg', 'max') {
            width: 100%;
          }

          & > p {
            font-size: 20px;
            line-height: 32px;
            font-family: 'CeraPro';
            margin-bottom: 20px;

            @include screen('xs', 'max') {
              font-size: 16px;
              line-height: 24px;
            }

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}

.news {
  &-box {
    padding-top: 167px;
    font-family: 'CeraPro';

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 60px;

      @include screen('sm', 'max') {
        flex-direction: column;
        align-items: flex-start;
      }

      h2 {
        font-weight: bold;
        font-size: 52px;
        line-height: 40px;
        font-family: 'PFRegalTextPro';
        @include screen('sm', 'max') {
          padding-bottom: 20px;
        }
      }

      a {
        font-size: 17px;
      }
    }

    &-row {
      display: grid;
      justify-content: space-between;

      @include screen('sm', 'max') {
        display: flex;
        flex-direction: column;
      }
    }

    &-small {
      grid-column: 2/3;
      width: 100%;
      align-self: center;

      @include screen('md', 'max') {
        grid-column: 1/3;
        margin-bottom: 25px;
      }
    }

    &-lg {
      grid-column: 1/2;
      grid-row: 1/3;
      width: 90%;
      border: 1px solid #312930;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -10%;
        left: -15%;
        background: #e1f1fa;
        width: 38%;
        height: auto;
        transform: skewX(-15deg);
        z-index: -1;
        padding-top: 34%;

        @include screen('sm', 'max') {
          bottom: 22%;
        }
      }

      @include screen('md', 'max') {
        grid-column: 1/3;
        width: 100%;
      }

      @include screen('sm', 'max') {
        border: 1px solid transparent;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 25px;
      }

      &-image {
        background-size: contain;
        margin-right: 40px;

        @include screen('sm', 'max') {
          margin-right: 0px;
          margin-bottom: 15px;
        }

        img {
          width: auto;
          height: 100%;
          position: relative;

          @include screen('sm', 'max') {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &-category, &-time {
      margin-bottom: 20px;
    }

    &-time {
      font-family: 'PFRegalTextPro';
      color: #EE7854;

      span {
        color: #312930;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }
}