.shops{
  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 120px;
    margin-top: 1px;
    @include screen("md", "max"){
      grid-column-gap: 50px;
    }
    @include screen("sm", "max"){
      grid-template-columns: 1fr;
    }
  }
  &-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border: 1px solid #312930;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;
    transition: 0.3s ease-out;
    i{
      filter: grayscale(1) brightness(0);
      transition: 0.3s ease-out;
    }
    &:hover,&.active {
      border-color: #ee7754;
      z-index: 2;
      i {
        filter: none;
      }
    }
    @include screen("sm", "max"){
      padding: 20px 0;
      i{
        transform-origin: left center;
        transform: scale(0.55);
      }
    }
    
  }
}