.contacts {
  &-head {
  }
  &-col {
    flex-basis: 20%;
    padding: 0 15px;
    &.double {
      flex-basis: 60%;
    }
    @include screen("950", "max") {
      flex-basis: 100% !important;
      margin-bottom: 50px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-rect {
    font-family: CeraPro;
    display: flex;
    margin: 0 -15px;
    padding: 80px 0;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      display: block;
      width: calc(100% + 80px);
      left: -40px;
      top: 0;
      height: 100%;
      background: #ffffff;
      z-index: -1;
      position: absolute;
      transform: skewX(-4deg);
    }
    &-img {
      position: relative;
      margin-bottom: 10px;
      display: inline-block;
      .line {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 170%;
      color: #312930;
      max-width: 490px;
      span {
        display: block;
        line-height: 145%;
      }
      .sub {
        font-size: 14px;
        color: #919191;
        margin: 8px 0;
        margin-top: 30px;
      }
      .small {
        font-size: 16px;
        color: #312930;
      }
    }
    @include screen("950", "max") {
      flex-wrap: wrap;
      padding: 30px;
      background-color: #ffffff;
      margin: 0;
      &:before {
        content: none;
      }
    }
    @include screen("sm", "max") {
      &-text {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
  &-phones {
    display: grid;
    grid-template-columns: 1fr 298px 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
    margin: 120px 0;
    &-title {
      font-family: PFRegalTextPro;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #312930;
      margin-bottom: 18px;
    }
    &-values {
      a {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        font-family: CeraPro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #312930;
      }
    }
    @include screen("md", "max") {
      grid-template-columns: 1fr 1fr;
    }
    @include screen("sm", "max") {
      grid-column-gap: 40px;
      margin: 60px 0;
    }
    @include screen("custom-660", "max") {
      grid-template-columns: 1fr;
    }
  }
  &-social {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    justify-items: stretch;
    &-item {
      background-color: #ffffff;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &-text {
      font-family: CeraPro;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #312930;
    }
    &-img {
      width: 50px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
    @include screen("lg", "max") {
      &-text {
        font-size: 16px;
      }
    }
    @include screen("950", "max") {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 10px;
    }
    @include screen("sm", "max") {
      grid-row-gap: 5px;
      grid-column-gap: 5px;
      &-item {
        padding: 25px 0;
      }
      &-img {
        height: 30px;
        margin-bottom: 20px;
        .svg-icon {
          font-size: 8px;
        }
      }
      &-text {
        font-size: 12px;
      }
    }
    @include screen("xs", "max") {
      &-img {
        .svg-icon {
          font-size: 7px;
        }
      }
    }
  }
  &-map {
    height: 500px;
    margin-top: 120px;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    //hide controls
    [class*="-copyrights-pane"] {
      display: none !important;
    }
    
    [class*="-controls__toolbar_right"] {
      display: none !important;
    }
    [class*="-controls__toolbar_left"] {
      float: right;
      margin-right: -2px;
      margin-top: 60px;
      [class*="-searchbox"] {
        display: none !important;
      }
    }

    //change css controls
    [class*="-controls-pane"] {
      top: 50% !important;
    }
    [class*="-zoom__button"],
    [class*="-float-button"] {
      border-radius: 50%;
    }
    [class*="-controls__control"] {
      left: auto !important;
      right: 8px !important;
      top: 0 !important;
      transform: translateY(-50%);
    }

    @include screen("sm", "max") {
      margin-top: 60px;
    }
  }
}
