/*
Быстрая работа с медиазапросами
Пример использования:
div {
  @include screen('xl', 'max') {
    ...
  };
}
*/

@mixin screen($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/*
Быстренько подрубаем аппаратное ускорение для анимирующихся элементов.
Пример использования:
div {
  @include performance;
  ...
}
*/
@mixin performance($backface: true, $perspective: 1000) {
    @if $backface {
      backface-visibility: hidden;
    }
  
    perspective: $perspective;
}

/*
--- UI-KIT ELEMENT ---
Шрифт PFRegalTextPro для заголовков в блоках. В шрифте уже прописаны медиазапросы для измненения размеров текста
Пример использования:
div {
  @include UI-Font-PFRegalTextPro-bold;
  ...
}
*/
@mixin UI-Font-PFRegalTextPro-bold {
  color: $color-text-main;

  font: {
    family: 'PFRegalTextPro';
    weight: bold;
    size: 52px;
  }
  line-height: 52px;

  @include screen('md', 'max') {
    font: {
      size: 34px;
    }
    line-height: 33px;
  }

  @include screen('xs', 'max') {
    font: {
      size: 30px;
    }
  }
}

/*
--- UI-KIT ELEMENT ---
Шрифт CeraPro для текста в блоках. В шрифте уже прописаны медиазапросы для измненения размеров текста
Пример использования:
div {
  @include UI-Font-CeraPro;
  ...
}
*/
@mixin UI-Font-CeraPro-normal {
  color: $color-text-main;

  font: {
    family: 'CeraPro';
    weight: normal;
    size: 20px;
  }
  line-height: 30px;

  @include screen('xs', 'max') {
    font: {
      size: 16px;
    }
  }
}