// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-img-catalog-product-1-name: 'icon-img-catalog-product-1';
$icon-img-catalog-product-1-x: 0px;
$icon-img-catalog-product-1-y: 0px;
$icon-img-catalog-product-1-offset-x: 0px;
$icon-img-catalog-product-1-offset-y: 0px;
$icon-img-catalog-product-1-width: 64px;
$icon-img-catalog-product-1-height: 65px;
$icon-img-catalog-product-1-total-width: 169px;
$icon-img-catalog-product-1-total-height: 115px;
$icon-img-catalog-product-1-image: '../images/sprite.png';
$icon-img-catalog-product-1: (0px, 0px, 0px, 0px, 64px, 65px, 169px, 115px, '../images/sprite.png', 'icon-img-catalog-product-1', );
$icon-img-catalog-product-2-name: 'icon-img-catalog-product-2';
$icon-img-catalog-product-2-x: 64px;
$icon-img-catalog-product-2-y: 0px;
$icon-img-catalog-product-2-offset-x: -64px;
$icon-img-catalog-product-2-offset-y: 0px;
$icon-img-catalog-product-2-width: 63px;
$icon-img-catalog-product-2-height: 54px;
$icon-img-catalog-product-2-total-width: 169px;
$icon-img-catalog-product-2-total-height: 115px;
$icon-img-catalog-product-2-image: '../images/sprite.png';
$icon-img-catalog-product-2: (64px, 0px, -64px, 0px, 63px, 54px, 169px, 115px, '../images/sprite.png', 'icon-img-catalog-product-2', );
$icon-img-catalog-product-3-name: 'icon-img-catalog-product-3';
$icon-img-catalog-product-3-x: 127px;
$icon-img-catalog-product-3-y: 0px;
$icon-img-catalog-product-3-offset-x: -127px;
$icon-img-catalog-product-3-offset-y: 0px;
$icon-img-catalog-product-3-width: 42px;
$icon-img-catalog-product-3-height: 52px;
$icon-img-catalog-product-3-total-width: 169px;
$icon-img-catalog-product-3-total-height: 115px;
$icon-img-catalog-product-3-image: '../images/sprite.png';
$icon-img-catalog-product-3: (127px, 0px, -127px, 0px, 42px, 52px, 169px, 115px, '../images/sprite.png', 'icon-img-catalog-product-3', );
$icon-img-catalog-product-4-name: 'icon-img-catalog-product-4';
$icon-img-catalog-product-4-x: 0px;
$icon-img-catalog-product-4-y: 65px;
$icon-img-catalog-product-4-offset-x: 0px;
$icon-img-catalog-product-4-offset-y: -65px;
$icon-img-catalog-product-4-width: 51px;
$icon-img-catalog-product-4-height: 50px;
$icon-img-catalog-product-4-total-width: 169px;
$icon-img-catalog-product-4-total-height: 115px;
$icon-img-catalog-product-4-image: '../images/sprite.png';
$icon-img-catalog-product-4: (0px, 65px, 0px, -65px, 51px, 50px, 169px, 115px, '../images/sprite.png', 'icon-img-catalog-product-4', );
$spritesheet-width: 169px;
$spritesheet-height: 115px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-img-catalog-product-1, $icon-img-catalog-product-2, $icon-img-catalog-product-3, $icon-img-catalog-product-4, );
$spritesheet: (169px, 115px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
