.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 74.4em 200.6em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-arrow:before {
      background-position: 0em 0em;
      width: 3.3em;
      height: 1.8em;
  }




  .svg-icon.svg-car:before {
      background-position: 0em -1.8em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-certificate:before {
      background-position: 0em -9em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-checkbox:before {
      background-position: 0em -18.1em;
      width: 3.1em;
      height: 3.1em;
  }




  .svg-icon.svg-cheese-main-slider-1:before {
      background-position: 0em -21.2em;
      width: 74.4em;
      height: 74.1em;
  }




  .svg-icon.svg-facebook:before {
      background-position: 0em -95.3em;
      width: 1.1em;
      height: 2.3em;
  }




  .svg-icon.svg-instagram:before {
      background-position: 0em -97.6em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-logotype:before {
      background-position: 0em -99.4em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-navigation:before {
      background-position: 0em -109em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-ok:before {
      background-position: 0em -116.8em;
      width: 1.4em;
      height: 2.4em;
  }




  .svg-icon.svg-pack:before {
      background-position: 0em -119.2em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-presentation:before {
      background-position: 0em -143.4em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-prevslogo:before {
      background-position: 0em -153.2em;
      width: 24.2em;
      height: 24.3em;
  }




  .svg-icon.svg-statistics:before {
      background-position: 0em -177.5em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-twitter:before {
      background-position: 0em -184.5em;
      width: 2em;
      height: 1.8em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -186.3em;
      width: 2.6em;
      height: 1.6em;
  }




  .svg-icon.svg-vote:before {
      background-position: 0em -187.9em;
      width: 12.1em;
      height: 11em;
  }




  .svg-icon.svg-wikipedia:before {
      background-position: 0em -198.9em;
      width: 2.8em;
      height: 1.7em;
  }





