.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 40.3em 405.2em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-arrow:before {
      background-position: 0em 0em;
      width: 3.3em;
      height: 1.8em;
  }




  .svg-icon.svg-beer:before {
      background-position: 0em -1.8em;
      width: 9.9em;
      height: 8.7em;
  }




  .svg-icon.svg-car:before {
      background-position: 0em -10.5em;
      width: 13.6em;
      height: 7.2em;
  }




  .svg-icon.svg-certificate:before {
      background-position: 0em -17.7em;
      width: 7.7em;
      height: 9.1em;
  }




  .svg-icon.svg-checkbox:before {
      background-position: 0em -26.8em;
      width: 3.1em;
      height: 3.1em;
  }




  .svg-icon.svg-checkbox-checked:before {
      background-position: 0em -29.9em;
      width: 3.2em;
      height: 3.1em;
  }




  .svg-icon.svg-checkbox-hover:before {
      background-position: 0em -33em;
      width: 3.2em;
      height: 3.1em;
  }




  .svg-icon.svg-cheese:before {
      background-position: 0em -36.1em;
      width: 15.7em;
      height: 9.1em;
  }




  .svg-icon.svg-circle-line-color:before {
      background-position: 0em -45.2em;
      width: 4.4em;
      height: 4.4em;
  }




  .svg-icon.svg-clock-color:before {
      background-position: 0em -49.6em;
      width: 4.4em;
      height: 4.4em;
  }




  .svg-icon.svg-cloud-1:before {
      background-position: 0em -54em;
      width: 12.3em;
      height: 2.5em;
  }




  .svg-icon.svg-cloud-2:before {
      background-position: 0em -56.5em;
      width: 9.9em;
      height: 5.4em;
  }




  .svg-icon.svg-cloud-3:before {
      background-position: 0em -61.9em;
      width: 19em;
      height: 7.8em;
  }




  .svg-icon.svg-cooking-servings:before {
      background-position: 0em -69.7em;
      width: 4.1em;
      height: 3.4em;
  }




  .svg-icon.svg-cooking-time:before {
      background-position: 0em -73.1em;
      width: 3.4em;
      height: 3.4em;
  }




  .svg-icon.svg-curve-gray-1:before {
      background-position: 0em -76.5em;
      width: 8.2em;
      height: 5.9em;
  }




  .svg-icon.svg-curve-gray-2:before {
      background-position: 0em -82.4em;
      width: 7.9em;
      height: 5.2em;
  }




  .svg-icon.svg-curve-gray-3:before {
      background-position: 0em -87.6em;
      width: 8.4em;
      height: 6.7em;
  }




  .svg-icon.svg-facebook:before {
      background-position: 0em -94.3em;
      width: 1.1em;
      height: 2.3em;
  }




  .svg-icon.svg-gray-fb:before {
      background-position: 0em -96.6em;
      width: 2em;
      height: 4.4em;
  }




  .svg-icon.svg-gray-inst:before {
      background-position: 0em -101em;
      width: 3.9em;
      height: 3.9em;
  }




  .svg-icon.svg-gray-ok:before {
      background-position: 0em -104.9em;
      width: 2.5em;
      height: 4.2em;
  }




  .svg-icon.svg-gray-tw:before {
      background-position: 0em -109.1em;
      width: 4.1em;
      height: 3.5em;
  }




  .svg-icon.svg-gray-vk:before {
      background-position: 0em -112.6em;
      width: 5em;
      height: 2.7em;
  }




  .svg-icon.svg-gray-wp:before {
      background-position: 0em -115.3em;
      width: 5.2em;
      height: 3.2em;
  }




  .svg-icon.svg-img-catalog-product-1:before {
      background-position: 0em -118.5em;
      width: 6.4em;
      height: 6.5em;
  }




  .svg-icon.svg-img-catalog-product-4:before {
      background-position: 0em -125em;
      width: 5.1em;
      height: 5em;
  }




  .svg-icon.svg-instagram:before {
      background-position: 0em -130em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-location-color:before {
      background-position: 0em -131.8em;
      width: 3.6em;
      height: 4.4em;
  }




  .svg-icon.svg-logotype:before {
      background-position: 0em -136.2em;
      width: 15.1em;
      height: 9.6em;
  }




  .svg-icon.svg-logotype-short:before {
      background-position: 0em -145.8em;
      width: 15.2em;
      height: 4.1em;
  }




  .svg-icon.svg-main-link-arrow:before {
      background-position: 0em -149.9em;
      width: 1.3em;
      height: 0.8em;
  }




  .svg-icon.svg-main-link-plus:before {
      background-position: 0em -150.7em;
      width: 1.2em;
      height: 1.2em;
  }




  .svg-icon.svg-medal-icon-1:before {
      background-position: 0em -151.9em;
      width: 11.4em;
      height: 17em;
  }




  .svg-icon.svg-medal-icon-2:before {
      background-position: 0em -168.9em;
      width: 11.4em;
      height: 17em;
  }




  .svg-icon.svg-medal-icon-3:before {
      background-position: 0em -185.9em;
      width: 11.4em;
      height: 17em;
  }




  .svg-icon.svg-navigation:before {
      background-position: 0em -202.9em;
      width: 7.9em;
      height: 7.8em;
  }




  .svg-icon.svg-ok:before {
      background-position: 0em -210.7em;
      width: 1.4em;
      height: 2.4em;
  }




  .svg-icon.svg-pack:before {
      background-position: 0em -213.1em;
      width: 40.3em;
      height: 24.2em;
  }




  .svg-icon.svg-pan:before {
      background-position: 0em -237.3em;
      width: 14.8em;
      height: 6.6em;
  }




  .svg-icon.svg-paste:before {
      background-position: 0em -243.9em;
      width: 9.5em;
      height: 6.1em;
  }




  .svg-icon.svg-presentation:before {
      background-position: 0em -250em;
      width: 7.8em;
      height: 9.8em;
  }




  .svg-icon.svg-prevslogo:before {
      background-position: 0em -259.8em;
      width: 24.2em;
      height: 24.3em;
  }




  .svg-icon.svg-print-main:before {
      background-position: 0em -284.1em;
      width: 16.1em;
      height: 16.1em;
  }




  .svg-icon.svg-print-product:before {
      background-position: 0em -300.2em;
      width: 19.4em;
      height: 19.4em;
  }




  .svg-icon.svg-printer:before {
      background-position: 0em -319.6em;
      width: 2.1em;
      height: 1.9em;
  }




  .svg-icon.svg-promo-box-top-text:before {
      background-position: 0em -321.5em;
      width: 23.2em;
      height: 13.4em;
  }




  .svg-icon.svg-recept-product-print:before {
      background-position: 0em -334.9em;
      width: 11.5em;
      height: 11.2em;
  }




  .svg-icon.svg-rhombus:before {
      background-position: 0em -346.1em;
      width: 13.6em;
      height: 13.4em;
  }




  .svg-icon.svg-salad:before {
      background-position: 0em -359.5em;
      width: 9.6em;
      height: 7.9em;
  }




  .svg-icon.svg-shawarma:before {
      background-position: 0em -367.4em;
      width: 9.6em;
      height: 5.3em;
  }




  .svg-icon.svg-srt-paper-plane:before {
      background-position: 0em -372.7em;
      width: 2.8em;
      height: 2.8em;
  }




  .svg-icon.svg-statistics:before {
      background-position: 0em -375.5em;
      width: 10.3em;
      height: 7em;
  }




  .svg-icon.svg-str-right-light-color:before {
      background-position: 0em -382.5em;
      width: 4.3em;
      height: 2.3em;
  }




  .svg-icon.svg-str_down_orange:before {
      background-position: 0em -384.8em;
      width: 2.3em;
      height: 1em;
  }




  .svg-icon.svg-timer:before {
      background-position: 0em -385.8em;
      width: 3.3em;
      height: 3.3em;
  }




  .svg-icon.svg-twitter:before {
      background-position: 0em -389.1em;
      width: 2em;
      height: 1.8em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -390.9em;
      width: 2.6em;
      height: 1.6em;
  }




  .svg-icon.svg-vote:before {
      background-position: 0em -392.5em;
      width: 12.1em;
      height: 11em;
  }




  .svg-icon.svg-wikipedia:before {
      background-position: 0em -403.5em;
      width: 2.8em;
      height: 1.7em;
  }





