/* pagination styles */
.pagination {
  color: #312930;
  font-family: "CeraPro";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;

  &-back {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 18px;
    position: relative;
    &.white {
      &:before {
        background: #ffffff;
      }
    }
    &::after {
      background-image: url("../images/pagination-arrow.svg");
      width: 10.5px;
      height: 50%;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      content: "";
      top: 15px;
      left: 9px;
      transition: 0.1s;
    }

    &::before {
      width: 26px;
      height: 26px;
      background: #f5f2eb;
      border-radius: 50px;
      content: "";
      display: inline-block;
      position: relative;
      margin-right: 18px;
      top: 8px;
      transition: 0.2s;
    }

    &:hover {
      &::before {
        background: #312930;
        transform: scale(1.1);
      }

      &::after {
        background-image: url("../images/pagination-arrow-hover.svg");
        top: 13px;
      }
    }
  }
}

/* resize images styles */
.fullImg {
  width: auto;
  height: 100%;
  &.auto-height {
    width: 100%;
    height: auto;
  }
}

/* checkbox form styles */
.main-checkbox {
  margin-bottom: 36px;

  @include screen("custom-660", "min") {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .state {
    &-default,
    &-hover,
    &-checked {
      transition: opacity 0.2s ease-in-out;
    }
  }

  input:checked + label {
    .state-checked {
      opacity: 1;
    }

    .state-default {
      opacity: 0;
    }
  }

  &:hover {
    input:checked + label {
      .state-hover {
        opacity: 0;
      }
    }

    .state-default {
      opacity: 0;
    }

    .state-hover {
      opacity: 1;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .state {
    &-hover,
    &-checked {
      position: absolute;
      opacity: 0;
    }
  }

  &-name {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
      margin-left: 15px;
      color: $color-text-main;
      font-size: 14px;
    }
  }
}

/* field form styles */
.main-field {
  position: relative;
  font-size: 20px;
  color: $color-text-main;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  font-family: "CeraPro"; 

  &-error {
    opacity: 0;
    display: none;
    transition: opacity 0.2;
  }

  &-name {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    padding-bottom: 10px;
  }

  &-addon {
    position: absolute;
    top: 0px;
    display: block;
    right: 0px;
    font-size: 12px;

    i.svg-icon.svg-arrow {
      filter: brightness(0);
      transition: all 0.3s;
    }

    &:hover {
      i.svg-icon.svg-arrow {
        filter: brightness(100%);
        transform: translateX(3px);
      }
    }
  }

  &-select {
    select {
      display: none;
    }
    .select2 {
      &-container {
        &--default.select2 {
          width: 100% !important;
          position: relative;
          z-index: 2;
          display: block;
          cursor: pointer;
          span {
            display: block;
          }
        }
        &--open.select2 {
          .select2 {
            &-selection {
              &__rendered {
                border-color: #ee7754;
                transition: 0.3s ease-in-out;
                &:before {
                  transform: rotate(0);
                  filter: none;
                }
                &:after {
                  opacity: 1;
                  transition: 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
      &-selection {
        &__rendered {
          position: relative;
          padding-right: 40px;
          &:before {
            content: "";
            display: block;
            width: 11px;
            height: 21px;
            background-image: url(../images/str-select.svg);
            transform: rotate(180deg);
            filter: grayscale(1) brightness(0);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.3s ease-in-out;
          }
          &:after {
            content: "";
            width: calc(100% + 40px);
            height: calc(100% + 20px);
            background: #ffffff;
            z-index: -1;
            display: block;
            left: -20px;
            top: -19px;
            position: absolute;
            opacity: 0;
          }
        }
      }
    }
  }

  input,
  textarea,
  .select2-selection__rendered {
    border-bottom: 1px solid $color-text-main;
    position: relative;
    width: 100%;
    font-size: 20px;
    padding-bottom: 20px;

    &::placeholder {
      color: #000;
    }
  }

  input:focus,
  textarea:focus {
    border-bottom: 1px solid #ee7754;

    &+.main-field-addon {
      i.svg-icon.svg-arrow {
        filter: brightness(100%);
      }
    }

    &::placeholder {
      color: transparent;
    }
  }

  &.error {
    .main-field-error {
      display: block;
      color: #bb9753;
      opacity: 1;
      position: absolute;
      bottom: -30px;
      right: 0;
      font-size: 12px;
      line-height: 30px;
    }

    input,
    textarea {
      border-bottom: 1px solid #bb9753;
    }
  }
}

/* dorpdown select2 */
.select2 {
  &-container {
    &--default {
      &:not(.select2) {
        z-index: 50;
        padding: 20px;
        width: 100% !important;
        padding-top: 15px;
        box-sizing: content-box;
        margin-left: -20px;
        background: #ffffff;
        animation: fadeInDropDown 0.3s both;
      }
      @keyframes fadeInDropDown {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
  &-results {
    &__option {
      font-family: CeraPro;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 175%;
      color: #312930;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &[aria-selected="true"],
      &:hover {
        color: #ec7457;
      }
    }
  }
  &-search {
    display: none;
  }
}

/* links styles */
.main-link {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #312930;
  position: relative;

  display: inline-flex;
  align-items: center;

  .bottomLines {
    width: 100%;
    height: 21px;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    transition: width 0.3s linear;
    &:before {
      content: "";
      display: block;
      width: 115px;
      height: 100%;
      position: absolute;
      background-size: cover;
      background: url("../images/main-link-lines.svg");
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      transition: 0.3s linear;
    }
  }
  .morphPlus {
    width: 11px;
    height: 1px;
    background: #312930;
    display: block;
    right: 0;
    position: relative;
    &:after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 5px;
      width: 1px;
      height: 5px;
      top: 0;
      background: inherit;
      transition: 0.3s ease-in-out;
    }
    &:after {
      transform: translateY(-100%);
    }
    &:before{
      top: 1px;
    }
  }
  &:hover {
    .morphPlus {
      &:after {
        right: 0;
        transform: translateY(-100%) rotate(-45deg);
        transform-origin: right bottom;
      }
      &:before {
        right: 0;
        transform: rotate(45deg);
        transform-origin: top right;
      }
    }
    .bottomLines {
      &:before {
        animation: linesHoverAnimate linear .6s both;
      }
      @keyframes linesHoverAnimate {
        0% {
          background-position-x: 0;
          transform: translateX(-50%);
        }
        50% {
          background-position-x: -115px;
          transform: translateX(calc(-50% + 115px));
        }
        51% {
          background-position-x: 115px;
          transform: translateX(calc(-50% - 115px));
        }
        100% {
          background-position-x: 0;
          transform: translateX(-50%);
        }
      }
    }
  }
}

/* slider buttons styles */
.main-slider-buttons {
  button {
    border-radius: 100px;
    width: 61px;
    height: 61px;
    display: inline-block;
    margin-right: 19px;
    position: relative;
    transition: 0.3s;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: calc(100% - 30px);
      height: 2px;
      background: #312930;
      top: 50%;
      left: 11px;
      transition: width 0.2s;
    }

    &.left {
      transform: rotate(-180deg);
    }

    &:last-child {
      margin-right: 0px;
    }

    span {
      position: relative;
      top: -4px;
      left: -1px;
      transition: transform 0.3s;

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        background: #312930;
        top: 1px;
        left: 10px;
        transform: rotate(50deg) translateY(-50%);
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        background: #312930;
        top: 9px;
        left: 11px;
        transform: rotate(-50deg) translateY(-50%);
      }
    }

    &:hover {
      background: #312930;
      transform: scale(1.1);

      &.left {
        transform: rotate(-180deg) scale(1.1);
      }

      &::after {
        width: 0;
      }

      span {
        position: absolute;
        top: 41%;
        transform: translateX(15px);

        &::after,
        &::before {
          background: #ffffff;
        }
      }
    }
  }
}
