/* Базовые настройки сетки сайта */
$container-padding: 20px;
$min-main-padding: 20px;
$max-width-main: 1200px;

/* Брекпоинты для адаптива */
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px,

  '950': 950px,
  
  'custom-1491': 1491px,
  'custom-1235': 1235px,
  'custom-860': 860px,
  'custom-800': 800px,
  'custom-660': 660px,
);

/* Основные переменные, которые используются в проекте */
$background-white: #ffffff;
$background-additional: #f6f5f3;
$color-text-main: #312930;
$color-text-complementary: #919191;
$color-text-complementary-two: #EE7754;
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: $color-text-main;// Основной цвет input, select и textarea
$color-main: $color-text-complementary-two; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций

/* Для анимаций */
$ease-main: .2s ease;