@mixin def_settings_animation_canvas {
  position: relative;
  background: none !important;
  canvas {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
}
.waveSection {
  @include def_settings_animation_canvas;
  &-top {
    @include def_settings_animation_canvas;
  }
  &-bottom {
    @include def_settings_animation_canvas;
    &-clip {
      @include def_settings_animation_canvas;
    }
  }
}

/* rotate animation */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* scrollBar */
body[data-scrollbar="true"]{
  height: 100vh;
  &.scrollFalse{
    pointer-events: none;
    .header{
      pointer-events: auto;
    }
  }
}

#scroll-box-events{
  position: absolute;
  pointer-events: none;
  z-index: 10000;
  left: 0;
  top: 0;
}


/* Slider-bullets animation */
.main-index-box-control-items-el.active{
  .elipce_slider{
    circle{
      animation: circleCurveAnimate 4s both linear;
    }
    &.first{
      circle{
        animation: circleCurveAnimate 2.5s both linear;
      }
    }
  }
  
}
.elipce_slider{
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  circle{
    stroke-dashoffset: 66;
    stroke-dasharray: 66;
  }
  @keyframes circleCurveAnimate {
    0%{
      stroke-dashoffset: 66;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }
}
html body{
  .fixed-window{
    position: absolute;
    left: 0;
    top: -220px;
    background-color: inherit;
    animation: none !important;
    opacity: 1 !important;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
  }
}

