@mixin def_settings_animation_canvas {
  position: relative;
  background: none !important;
  canvas {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
}
.waveSection {
  @include def_settings_animation_canvas;
  &-top {
    @include def_settings_animation_canvas;
  }
  &-bottom {
    @include def_settings_animation_canvas;
    &-clip {
      @include def_settings_animation_canvas;
    }
  }
}

/* scrollBar */
body[data-scrollbar="true"]{
  height: 100vh;
}
