/*
@ Basic styles
*/
.header.sticky {
  background: #fff;
  position: absolute;
  height: 90px;
  transition: top 0.4s ease-in-out;//, background 0.4s ease-in-out;

  .header-static > .header-box .header-box-nav-button {
    top: 4px;

    @include screen('xs', 'max') {
      top: 0px;
    }
  }

  a.header-box-logotype {
    .svg-icon.svg-logotype {
      opacity: 0;
      z-index: 1;
    }

    i.svg-icon.svg-logotype-short {
      top: -15px;
      opacity: 1;
      z-index: 1;
    }
  }
}

.header.hide{
  transition: top 0.4s ease-in-out;//, background 0.4s ease-in-out;
  background: #fff;
  a.header-box-logotype {
    .svg-icon.svg-logotype {
      opacity: 0;
    }

    i.svg-icon.svg-logotype-short {
      top: -15px;
      opacity: 1;
    }
  }
}

.header {
  width: calc(100% - 40px);
  z-index: 9999;
  position: absolute;
  transform: translateY(30px);
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  box-sizing: border-box;
  will-change: transform;
  @media(max-width:599px){
    position: fixed !important;
    will-change: top;
  }
  &-buttom {
    display: none;
  }

  .svg-icon.svg-logotype {
    transition: opacity 0.3s;
  }

  i.svg-icon.svg-logotype-short {
    transition: opacity 0.3s;
  }

  .burger {
    position: absolute;
    left: 38%;
    top: 29%;
    display: block;
    border-radius: 50px;
    transform: translateY(50%);
    z-index: 10;

    &::before {
      background: #312930;
      display: block;
      content: "";
      position: absolute;
      height: 1px;
      width: 20px;
      left: 0px;
      top: 6px;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      left: -9px;
      top: -13px;
      position: absolute;
      z-index: 1;
      width: 38px;
      height: 38px;
      border-radius: 20px;
    }

    &:hover {
      transition: 0.3s;
      &::after {
        transition: inherit;
        background: #312930;
      }

      &::before {
        background: #ffffff;
      }

      span {
        &::before, &::after {
          background: #ffffff;
        }
      }
    }

    span {
      position: relative;
      display: block;
      height: 20px;
      flex-basis: 100%;

      &::before {
        display: block;
        width: 20px;
        height: 1px;
        background: #312930;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(1px);
        transition: transform 0.3s;
        z-index: 2;
      }

      &::after {
        display: block;
        width: 20px;
        height: 1px;
        background: #312930;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-9px);
        transition: transform 0.3s;
        z-index: 2;
      }
    }
  } 
  &-static{
    .header-bg{
      display: none;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/burger-bg.png);
    }
  }
  &-static.active {
    position: fixed;
    height: calc(100vh + 10px);
    width: calc(100%);
    margin-left: -20px;
    margin-top: -60px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 30px solid #fff;
    @include screen('xs', 'max') {
      border-top: unset;
    }
    

    .burger {
      position: absolute;
      left: 38%;
      top: 29%;
      display: block;
      border-radius: 50px;
      transform: translateY(50%);
  
      &::before {
        opacity: 0;
      }

      &::after {
        background: #312930;
      }
  
    span {
      top: -3px;
      left: 0px;
      background: #312930;
  
        &::before {
          transform: rotate(45deg) translate(0, -50%);
          bottom: auto;
          top: 50%;
          transform-origin: top;
          background: #fff;
        }
  
        &::after {
          transform: rotate(-45deg) translate(0, -50%);
          background: #fff;
        }
      }
    } 

    .header-box-nav {
      // transition: transform 0.3s;
      //transform: translateY(127px);
      top: 200px;
      margin-left: -20px;

      @include screen('custom-660', 'max') {
        margin-left: 0px;
      }
    }

    .header-box-nav-el {      
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .header-bg{
      display: block;
    }
    .header-buttom {
      font-family: 'CeraPro';
      display: none;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      height: calc(100% - 10px);
      justify-content: space-around;
      padding-top: 66px;
      &-nav {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1000px;
        margin-top: 20px;

        a {
          font-size: 20px;
        }
      }
  
      &-help {
        display: flex;
        justify-content: space-around;
  
        .left, .right {
          text-align: center;
        }
  
        .left {
          &-desc {
            font-family: 'CeraPro';
            font-size: 16px;
            margin-bottom: 8px;
          }
  
          &-number {
            display: block;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 25px;
            transition: 0.3s;

            &:hover {
              color: #ee7754;
            }
          }
        }
  
        .right {
          &-desc {
            font-size: 16px;
            margin-bottom: 20px;
          }
  
          &-group-link {
            margin-right: 37px;

            filter: brightness(0%);
            opacity: 0.8;
            transition: all .3s;
        
            &:hover {
              filter: brightness(100%);
              transform: translateX(3px);
              opacity: 1;
            }
  
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }  
  
      &-footer {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
  
        .left {
          color: #AEA08D;
        }
  
        .right {
          color: #312930;
  
          a {
            color: #EE7754;
          }
        }
      }
    }
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

    &-logotype {
      position: relative;
      z-index: 10;

      @include screen('xs', 'max') {
        transform: scale(0.6);
      }

      .svg-icon.svg-logotype-short {
        position: absolute;
        opacity: 0;
      }

      .svg-icon {
        position: absolute;
        opacity: 1;
        top: -45px;
      }
    }
  
    &-nav {
      width: 100%;
      position: absolute;
      top: 50%;
      // transition: transform .3s;
      transform: translateY(-50%);

      @include screen('custom-660', 'max') {
        &.lg {
          display: none;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 550px;
        margin: 0 auto;

        @include screen('md', 'max') {
          max-width: 50%;
        }

      }

      &-button {
        position: relative;

        i.svg-icon.svg-navigation {
            animation: rotating 8s linear infinite;
            @keyframes rotating {
              0%{
                transform: rotate(0deg);
              }
              100%{
                transform: rotate(360deg);
              }
            }
        }
      }
  
      &-el {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        color: $color-text-main;
        font-family: 'CeraPro';
  
        &-link {
          font-size: 26px;
          line-height: 33px;
          transition: 0.2s;
  
          @include screen('md', 'max') {
            font-size: 22px;
          }
  
          &:hover {
            color: $color-text-complementary-two;
          }
        }
  
        &-desc {
          font-size: 13px;
          line-height: 33px;
  
          @include screen('md', 'max') {
            font-size: 10px;
            line-height: 30px;
          }
  
          @include screen('custom-800', 'max') {
            display: none;
          }
        }
      }
  
      &-button {
        @include screen('xs', 'max') {
          transform: scale(.9);
        }
      }
    }
  }
}

/*
@ Media queries
*/
.header.sticky {
  @include screen('xs', 'max') {
    //transform: translateY(0);
    height: auto;
  }
}

.header {
  @include screen('xs', 'max') {
    width: 100%;
  }

  &-static.active {
    @include screen('xs', 'max') {
      background-image: none;
    }

    @include screen('custom-660', 'max') {
      overflow-y: auto;
      overflow-x: hidden;
    }

    @include screen('xs', 'max') {
      width: 100%;
      height: calc(100vh + 30px);
    }

    .header-box {
      @include screen('custom-660', 'max') {
        margin: 15px 0px;
        transform: translateY(25px);
      }
    }

    .header-box-nav-button {
      @include screen('xs', 'max') {
        position: fixed;
      }

      @include screen('custom-660', 'max') {
        position: fixed;
        right: 0;
      }

      @include screen('xs', 'max') {
        margin-right: 0px;
      }
    }

    .header-box-nav.wrapper {
      @include screen('custom-860', 'max') {
        max-width: 50%;
      }

      @include screen('custom-660', 'max') {
        max-width: 100%;
      }
    }

    .header-box-nav.lg {
      @include screen('custom-660', 'max') {
        display: flex;
        position: unset;
        justify-content: space-around;
        transform: translateY(9%);
      }

      .wrapper {
        @include screen('custom-660', 'max') {
          flex-direction: column;
          position: unset;
          left: 0%;
          padding-top: 50px;
        }
      }
    }

    .header-box-nav-el {
      @include screen('custom-660', 'max') {
        margin-bottom: 30px;
      }
      
    }

    .header-box-nav-el > .header-box-nav-el-desc {
      @include screen('custom-800', 'max') {
        display: block;
        font-size: 13px;
      }
    }

    .header-buttom {
      &-nav {
        @include screen('custom-660', 'max') {
          flex-direction: column;
        }

        a {
          @include screen('custom-660', 'max') {
            padding-bottom: 20px;
  
            &:last-child {
              padding: 0px;
            }
          }
        }
      }

      &-help {
        @include screen('custom-660', 'max') {
          flex-direction: column;
        }

        .left {
          @include screen('custom-660', 'max') {
            margin-bottom: 50px;
          }
        }
      }

      &-footer {
        @include screen('custom-660', 'min') {
          margin-bottom: 50px;
        }

        @include screen('custom-660', 'max') {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .left {
          @include screen('custom-660', 'max') {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}