/*
@ Basic styles
*/
.header.sticky {
  background: #fff;
  position: fixed;
  margin-top: -20px;

  a.header-box-logotype {
    .svg-icon.svg-logotype {
      opacity: 0;
    }

    i.svg-icon.svg-logotype-short {
      top: -20px;
      opacity: 1;
    }
  }

  .header-box-nav {
    top: 6px;
  }
}

.header {
  width: calc(100% - 40px);
  z-index: 9999;
  transition: all 0.4s ease;
  position: absolute;
  margin-top: 30px;
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  box-sizing: border-box;

  &-buttom {
    display: none;
  }

  .burger {
    position: absolute;
    left: 38%;
    top: 29%;
    display: block;
    border-radius: 50px;
    transform: translateY(50%);
  
    span.wand {
      position: relative;
      display: block;
      content: "";
      background: #312930;
      height: 1.5px;
      width: 20px;
      margin-bottom: 5px;
      border-radius: 100px;
    }
  } 

  &-static.active {
    position: fixed;
    height: calc(100vh + 10px);
    background: #F9EFE1;
    width: calc(100% - 40px);
    margin-left: -20px;
    margin-top: -60px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url('../images/header-static-bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    border-top: 30px solid #fff;

    .burger {
      background: #312930;
      left: 28%;
      top: 4%;
      height: 36px;
      width: 36px;

      span.wand {
        background: #fff;
        width: 15px;
        position: relative;
        top: 17px;
        left: 10px;
        margin-bottom: 0;
      }

      span.wand:first-child {
        transform: rotate(-45deg);
      }

      span.wand:nth-child(2) {
        transform: rotate(45deg);
        top: 16px;
      }

      span.wand:last-child {
        display: none;
      }

    }

    .header-box-nav {
      top: 96px;
    }

    .header-box-nav-el {      
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .header-buttom {
      font-family: 'CeraPro';
      display: none;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      height: calc(100% - 10px);
      justify-content: space-around;
      padding-top: 50px;
  
      &-nav {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        flex-wrap: wrap;
        align-items: center;

        a {
          font-size: 20px;
        }
      }
  
      &-help {
        display: flex;
        justify-content: space-around;
  
        .left, .right {
          text-align: center;
        }
  
        .left {
          &-desc {
            font-family: 'CeraPro';
            font-size: 16px;
            margin-bottom: 8px;
          }
  
          &-number {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 25px;
          }
        }
  
        .right {
          &-desc {
            font-size: 16px;
            margin-bottom: 20px;
          }
  
          &-group-link {
            margin-right: 37px;
  
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }  
  
      &-footer {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
  
        .left {
          color: #AEA08D;
        }
  
        .right {
          color: #312930;
  
          a {
            color: #EE7754;
          }
        }
      }
    }
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include screen('xs', 'max') {
      margin: -25px -10px;
    }

    &-logotype {
      position: relative;

      @include screen('xs', 'max') {
        transform: scale(0.7);
      }

      .svg-icon.svg-logotype-short {
        position: absolute;
        opacity: 0;
      }

      .svg-icon {
        position: absolute;
        opacity: 1;
        top: -45px;
      }
    }
  
    &-nav {
      width: 100%;
      position: absolute;
      top: 15px;
      @include screen('custom-660', 'max') {
        &.lg {
          display: none;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 550px;
        margin: 0 auto;
      }

      &-button {
        position: relative;
      }
  
      &-el {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        color: $color-text-main;
        font-family: 'CeraPro';
  
        &-link {
          font-size: 26px;
          line-height: 33px;
          transition: 0.2s;
  
          @include screen('md', 'max') {
            font-size: 22px;
          }
  
          &:hover {
            color: $color-text-complementary-two;
          }
        }
  
        &-desc {
          font-size: 13px;
          line-height: 33px;
  
          @include screen('md', 'max') {
            font-size: 10px;
            line-height: 30px;
          }
  
          @include screen('custom-800', 'max') {
            display: none;
          }
        }
      }
  
      &-button {
        @include screen('xs', 'max') {
          transform: scale(.7);
        }
      }
    }
  }
}

/*
@ Media queries
*/
.header.sticky {
  @include screen('xs', 'max') {
    margin-top: 0px;
    padding: 20px;
  }
}

.header {
  @include screen('xs', 'max') {
    width: 100%;
  }

  &-static.active {
    @include screen('xs', 'max') {
      background-image: none;
    }

    @include screen('custom-660', 'max') {
      overflow-y: auto;
      overflow-x: hidden;
    }

    @include screen('xs', 'max') {
      width: 100%;
      height: calc(100vh + 30px);
    }

    .header-box {
      @include screen('custom-660', 'max') {
        margin: 15px -10px;
      }
    }

    .header-box-nav-button {
      @include screen('xs', 'max') {
        position: fixed;
        right: -5px;
      }

      @include screen('custom-660', 'max') {
        position: fixed;
        right: 0;
        margin-right: 40px;
      }

      @include screen('xs', 'max') {
        margin-right: 0px;
      }
    }

    .header-box-nav.wrapper {
      @include screen('custom-860', 'max') {
        max-width: 50%;
      }
    }

    .header-box-nav.lg {
      @include screen('custom-660', 'max') {
        display: flex;
        position: unset;
        justify-content: space-around;
      }

      .wrapper {
        @include screen('custom-660', 'max') {
          flex-direction: column;
          position: unset;
          left: 0%;
          padding-top: 50px;
        }
      }
    }

    .header-box-nav-el {
      @include screen('custom-660', 'max') {
        margin-bottom: 30px;
      }
    }

    .header-box-nav-el > .header-box-nav-el-desc {
      @include screen('custom-800', 'max') {
        display: block;
        font-size: 13px;
      }
    }

    .header-buttom {
      &-nav {
        @include screen('custom-660', 'max') {
          flex-direction: column;
        }

        a {
          @include screen('custom-660', 'max') {
            padding-bottom: 20px;
  
            &:last-child {
              padding: 0px;
            }
          }
        }
      }

      &-help {
        @include screen('custom-660', 'max') {
          flex-direction: column;
        }

        .left {
          @include screen('custom-660', 'max') {
            margin-bottom: 50px;
          }
        }
      }

      &-footer {
        @include screen('custom-660', 'min') {
          margin-bottom: 50px;
        }

        @include screen('custom-660', 'max') {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .left {
          @include screen('custom-660', 'max') {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}