section {
  &.prevs {
    padding-top: 130px;
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: -27px;
      background-size: cover;
      background: #ffffff;
      border-radius: 50%/50%;
    }

    @include screen('xs', 'max') {
      padding-top: 50px;
    }
  }
}

.prevs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 187px;

  @include screen('xs', 'max') {
    align-items: flex-start;
  }

  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @include screen('xs', 'max') {
      margin-bottom: 40px;
    }

    width: 100%;

    & > i {
      @include screen('custom-660', 'max') {
        display: none;
      }
    }

    @include screen('xs', 'max') {
      margin-bottom: 40px;
    }

    & > h2 {
      font-family: 'PFRegalTextPro';
      font-size: 52px;
      color: $color-text-main;
      width: 839px;

      @include screen('custom-660', 'max') {
        font-size: 34px;
      }
      
      @include screen('xs', 'max') {
        font-size: 24px;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    @include screen('xs', 'max') {
      flex-direction: column;
    }

    &::before {
      position: absolute;
      content: '';
      background: url('../images/section-prev-background.svg');
      width: 985px;
      height: 380px;
      display: block;
      bottom: 0%;
      right: -10%;
      background-repeat: no-repeat;
      z-index: -1;

      @include screen('md', 'max') {
        display: none;
      }
    }

    &-el {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 26%;
      margin-bottom: 46px;
      position: relative;
      box-sizing: border-box;

      @include screen('md', 'max') {
        margin-bottom: 40px;
      }

      @include screen('custom-1235', 'max') {
        width: calc(100% / 2);
      }
      
      @include screen('custom-660', 'max') {
        width: calc(100% - 80px); //Какой-то мегакостыль временный, иначе все криво работает..
      }

      & > .svg-pack {
        @include screen('md', 'max') {
          left: 50%;
          transform: scale(.7) translateX(-60%);
          position: absolute;
          padding-top: 10px;
        }
      }

      &:nth-child(n+4) {
        @include screen('md', 'min') {
          margin-bottom: 0px;
        }
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 26px;
        display: flex;
        align-items: flex-end;
      }

      p {
        font-family: 'CeraPro';
        font-size: 18px;
        color: $color-text-main;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}