.shopsbg-marquee {
  position: relative;
  .shops {
    position: relative;
    display: block;
    width: 100vw;
    height: 225px;
    background-image: url('../images/shops-bg.png');
    background-repeat: repeat-x;
    margin-left: -45px;
    animation: shops-bg-move 7s linear infinite;

    @keyframes shops-bg-move {
      0% {
        background-position-x: 960px;
      }
      100% {
        background-position-x: 0px;
      }
    }
  }
}

.wherebuy-group {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .title {
    @include UI-Font-PFRegalTextPro-bold;
    margin-bottom: 30px;

    @include screen('xs', 'max') {
      margin-bottom: 10px;
    }
  }

  .desc {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #312930;
    max-width: 400px;
  }
}