.shopsbg {
  &-marquee {
    position: relative;
    display: flex;
    margin-bottom: 180px;
  }

  &-wrapper {
    display: inline-block;
  }

  &-list {
    position: absolute;
    display: flex;
    align-items: center;
    height: 225px;
    flex-wrap: wrap;
    width: 1441px;

    &:first-child {
      animation: shops-bg-move-first 10s linear infinite;
    }

    &:last-child {
      animation: shops-bg-move-last 10s linear infinite;
    }
    

    @keyframes shops-bg-move-first {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes shops-bg-move-last {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }

  &-item {
    width: 280px;
    text-align: center;
  }

}

.wherebuy-group {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include screen('xs', 'max') {
    margin-bottom: 30px;
  }

  .title {
    @include UI-Font-PFRegalTextPro-bold;
    margin-bottom: 30px;

    @include screen('xs', 'max') {
      margin-bottom: 10px;
    }
  }

  .desc {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #312930;
    max-width: 400px;
  }
}