.recept-wrapper-content {
  @include screen('sm', 'max') {
    max-width: 100%;
  }
}

.main-recept {
  &-box {
    font-family: 'CeraPro';
    color: #312930;
    position: relative;
    padding-bottom: 80px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      // background: url('../images/promo-box-bottom-dashed.svg');
      top: 32%;
      left: -19%;
      width: 1749px;
      height: 163px;

      @include screen('md', 'max') {
        display: none;
      }
    }

    .pagination {
      margin-bottom: 40px;
    }

    .product {
      &-wrapper-content {
        width: 30%;
        position: relative;

        @include screen('md', 'max') {
          margin: 0 auto;
          width: 80%;
          margin-bottom: 120px;
        }

        @include screen('xs', 'max') {
          width: 100%;
          margin-bottom: 30px;
        }
        
        .group-product {
          height: 100%;
          width: 100%;

          &:hover {
            span {
              filter: sepia(80%);
            }
          }

          @include screen('lg', 'max') {
            margin-bottom: 60px;
          }

          @include screen('md', 'max') {
            margin-bottom: 0px;
          }
        }

        span {
          width: 360px;
          height: 360px;
          background-image: url('../images/bg-recept-product.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          z-index: 1;

          @include screen('md', 'max') {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: top;
          }
        }
      }

      &-image {
        z-index: 10;
        position: relative;
        width: 80%;
        margin: 0 auto;
        @include screen('xs', 'max') {
          width: 100%;
        }

        img {
          position: relative;
          width: 100%;
          height: auto;
          left: 9%;
          
          @include screen('md', 'max') {
            width: 80%;
            transform: translateY(20px);
          }
        }
      }

      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #312930;
        z-index: 10;
        position: relative;
        width: 60%;
        margin-top: 10%!important;
        margin: 0 auto;

        @include screen('lg', 'max') {
          width: 100%;
        }

        &:before {
          background-image: url('../images/shadow-products.svg');
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0;
          left: -80px;
          width: 100vw;
          height: 108px;
          display: block;
          z-index: 10;
          content: "";
          @include screen('xs', 'max') {
            content: none;
          }
        }

        @include screen('md', 'max') {
          width: 100%;
        }
      }

      &-print {
        position: absolute;
        top: 0%;
        z-index: 10;
        left: 5%;

        @include screen('xs', 'max') {
          i {
            font-size: 6px;
          }
        }
      }
    }
    
    .recept {
        &-header {
          max-width: 700px;
          margin-bottom: 60px;

          @include screen('md', 'max') {
            max-width: 100%;
          }

          h2 {
            @include UI-Font-PFRegalTextPro-bold;
          }
        }

      &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 40px;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          .recept-social-links {
            display: flex;
            margin-left: 30px;
            opacity: 0;
            transition: all 0.3s;
            position: absolute;
            pointer-events: none;

            &.active {
              opacity: 1;
              pointer-events: all;
              transform: translateX(50%);
            }

            @include screen('sm', 'max') {
              display: none;
            }
          }
        }

        .right {
          .print-page {
            display: flex;
            flex-direction: row-reverse;
            transition: color 0.3s;

            i {
              margin-right: 10px;
              filter: brightness(0);
              transition: filter 0.3s;
            }

            &:hover {
              color: #EE7754;
              i {
                filter: brightness(100%);
              }
            }
          }
        }

        @include screen('md', 'max') {
          position: absolute;
          width: calc(100% - 40px);
          margin: 0 auto;
          bottom: 0;
          margin-bottom: 40px;
        }
      }

      &-cooking {
        h2 {
          font-family: 'PFRegalTextPro';
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      &-information {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include screen('sm', 'max') {
          flex-direction: column;
          align-items: center;
        }
      }

      &-productinfo {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        @include screen('sm', 'max') {
          flex-direction: column;
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include screen('md', 'max') {
          flex-direction: column;
        }
      
        &-content {
          width: 700px;
          overflow: hidden;

          @include screen('md', 'max') {
            width: 100%;
          }

        }
      }
    }

    .slider {
      position: relative;

      &-recept {
        position: relative;

        .swiper-wrapper {
          .slider-el.swiper-slide {
            img {
              @include screen('md', 'max') {
                width: 100%;
              }
            }
          }
        }
      }

      &-buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        z-index: 10;
        
        @include screen('xs', 'max') {
          padding: 0px;
        }
      }
    }

    .thumbs {
      display: flex;

      @include screen('sm', 'max') {
        margin-bottom: 40px;
      }

      &-el {
        width: 60px;
        height: 60px;
        display: block;
        overflow: hidden;
        border: 1px dashed #D4D1CC;
        border-radius: 50px;
        position: relative;
        cursor: pointer;

        @include screen('xs', 'max') {
          width: 50px;
          height: 50px;
        }

        &.swiper-slide-thumb-active {
          border: 1px dashed #EE7754;
        }

        &::before {
          position: absolute;
          box-shadow: inset 0 0 0 6px #f6f5f3;
          width: 100%;
          height: 100%;
          z-index: 10;
          top: 0;
          left: 0;
          display: block;
          content: "";
          border-radius: 50px;

          @include screen('xs', 'max') {
            box-shadow: inset 0 0 0 3px #f6f5f3;
          }
        }
      }

      &-img {
        width: 50px;
        height: 50px;
      }
    }

    .cooking {
      display: flex;
      &-el {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        
        &:first-child {
          margin-right: 40px;
        }

        &-icon {
          margin-bottom: 8px;
        }
      }
    }

    .column-info {
      width: 43%;

      @include screen('sm', 'max') {
        width: 100%;
        &:last-child {
          margin-top: 60px;
        }
      }

      h2 {
        font-family: 'PFRegalTextPro';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #312930;
      }
      
      &-item {
        font-family: 'CeraPro';
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #312930;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }

    .cooking {
      &-row {
        margin-left: 60px;

        @include screen('sm', 'max') {
          margin-left: 0px;
        }
      }
      
      &-info {
        display: flex;
        margin-bottom: 20px;

        &-text {
          font-family: 'CeraPro';
          font-style: normal;
          font-size: 20px;
          line-height: 30px;
          width: 90%;

          @include screen('xs', 'max') {
            font-size: 16px;
          }

          span {
            margin-top: 40px;
            display: block;
            font-weight: bold;
          }
        }

        &-num {
          width: 5%;
          font-family: 'PFRegalTextPro';
          margin-right: 20px;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          color: #EE7754;

          @include screen('xs', 'max') {
            font-size: 20px;
            width: 8%;
          }
        }
      }
    }
  }
}

.receptbuy {
  @include screen('md', 'max') {
    align-items: flex-start;
    flex-direction: column;
  }

  @include screen('md', 'max') {
    .left > .desc {
      margin-bottom: 15px;
    }
  }
}