.recept-wrapper-content {
  @include screen('sm', 'max') {
    max-width: 100%;
  }
}

.main-recept {
  &-box {
    font-family: 'CeraPro';
    color: #312930;

    .pagination {
      margin-bottom: 40px;
    }

    .product {
      &-wrapper-content {
        align-self: start;
        width: 30%;
        position: relative;
        margin-top: 60px;

        @include screen('lg', 'max') {
         transform: scale(0.8);
         transform-origin: right center; 
        }

        @include screen('md', 'max') {
          transform: scale(1);
          margin: 0 auto;
          margin-bottom: 150px;
          width: 80%;
          margin-top: 100px;
        }

        &::after {
          width: 270px;
          height: 270px;
          background: #FFFFFF;
          transform: rotate(45deg);
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;

          @include screen('md', 'max') {
            width: 80%;
            height: 80%;
            margin-left: 20px;
          }
        }
        
        &:before {
          background-image: url('../images/shadow-products.svg');
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0;
          left: -80px;
          width: 100%;
          height: 108px;
          display: block;
          z-index: 10;
          content: "";
        }
      }

      &-image {
        transform: rotate(12deg) translateX(0);
        z-index: 10;
        position: relative;

        img {
          position: relative;
          width: 70%;
          height: auto;

          &:last-child {
            left: 25%;
            position: absolute;
          }
        }
      }

      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #312930;
        z-index: 10;
        position: relative;
        width: 60%;
        margin-top: 10%;

        @include screen('md', 'max') {
          width: 100%;
        }
      }

      &-print {
        position: absolute;
        top: -10%;
        z-index: 10;
        left: -10%;
      }
    }
    
    .recept {
        &-header {
          max-width: 700px;
          margin-bottom: 60px;

          @include screen('md', 'max') {
            max-width: 100%;
          }

          h2 {
            @include UI-Font-PFRegalTextPro-bold;
          }
        }

      &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 40px;

        @include screen('md', 'max') {
          position: absolute;
          width: calc(100% - 40px);
          margin: 0 auto;
          bottom: 0;
          margin-bottom: 40px;
        }
      }

      &-cooking {
        h2 {
          font-family: 'PFRegalTextPro';
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      &-information {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include screen('sm', 'max') {
          flex-direction: column;
          align-items: center;
        }
      }

      &-productinfo {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        @include screen('sm', 'max') {
          flex-direction: column;
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include screen('md', 'max') {
          flex-direction: column;
        }
      
        &-content {
          width: 700px;
          overflow: hidden;

          @include screen('md', 'max') {
            width: 100%;
          }

        }
      }
    }

    .slider {
      &-recept {
        position: relative;

        .swiper-wrapper {
          .slider-el.swiper-slide {
            img {
              @include screen('md', 'max') {
                width: 100%;
              }
            }
          }
        }
      }

      &-buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        z-index: 10;
      }
    }

    .thumbs {
      display: flex;

      @include screen('sm', 'max') {
        margin-bottom: 40px;
      }

      &-el {
        width: 60px;
        height: 60px;
        display: block;
        overflow: hidden;
        border: 1px dashed #D5D2CC;
        border-radius: 50px;
      }

      &-img {
        width: 50px;
        height: 50px;
      }
    }

    .cooking {
      display: flex;
      &-el {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        
        &:first-child {
          margin-right: 40px;
        }

        &-icon {
          margin-bottom: 8px;
        }
      }
    }

    .column-info {
      width: 43%;

      @include screen('sm', 'max') {
        width: 100%;
        &:last-child {
          margin-top: 60px;
        }
      }

      h2 {
        font-family: 'PFRegalTextPro';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #312930;
      }
      
      &-item {
        font-family: 'CeraPro';
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #312930;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }

    .cooking {
      &-row {
        margin-left: 60px;

        @include screen('sm', 'max') {
          margin-left: 0px;
        }
      }
      
      &-info {
        display: flex;
        margin-bottom: 20px;

        &-text {
          font-family: 'CeraPro';
          font-style: normal;
          font-size: 20px;
          line-height: 30px;
          width: 90%;

          @include screen('xs', 'max') {
            font-size: 16px;
          }

          span {
            margin-top: 40px;
            display: block;
            font-weight: bold;
          }
        }

        &-num {
          width: 5%;
          font-family: 'PFRegalTextPro';
          margin-right: 20px;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          color: #EE7754;

          @include screen('xs', 'max') {
            font-size: 20px;
            width: 8%;
          }
        }
      }
    }
  }
}

.receptbuy {
  @include screen('md', 'max') {
    align-items: flex-start;
    flex-direction: column;
  }

  @include screen('md', 'max') {
    .left > .desc {
      margin-bottom: 15px;
    }
  }
}