extends ../layouts/default.pug

include ../modules/forms.pug
include ../modules/footer.pug
include ../modules/header.pug

block variables
 -var pageTitle='Каталог'

block content
    +header()
    section.main-catalog
      .content.main-catalog-box
        a.catalog-el(href="./catalog-products.html")
          .catalog-el-img
            img(src="./images/img-product-1.png", alt="")
          .catalog-el-text Адыгейские сыры
        a.catalog-el(href="./catalog-products.html")
          .catalog-el-img
            img(src="./images/img-product-2.png", alt="")
          .catalog-el-text Вытяжные сыры
        a.catalog-el(href="./catalog-products.html")
          .catalog-el-img
            img(src="./images/img-product-3.png", alt="")
          .catalog-el-text Масло и спред
        a.catalog-el(href="./catalog-products.html")
          .catalog-el-img
            img(src="./images/img-product-4.png", alt="")
          .catalog-el-text Cыворотка
        .text-bottom Продукция
    +subscriptionForm().bg-white
    +footer().bg-white