extends ../layouts/products-default.pug

include ../modules/forms.pug
include ../modules/footer.pug
include ../modules/header.pug

block variables
 -var pageTitle='Вытяжные'

mixin products-list(json)
  each data in json
    a.products-container(href=data.link)
      .products-img
        img(src=data.img)
        img(src=data.img)
      .products-title #{data.title}
      .products-hover
        +icon('rhombus', 'svg').rhombus-1
        +icon('rhombus', 'svg').rhombus-2
        +icon('cloud-2', 'svg').cloud-1
        +icon('cloud-1', 'svg').cloud-2

block content
    +header()
    section.main-products
      .content.main-products-box
        .main-products-category.visual-animation-base-block
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('img-catalog-product-1', 'svg').icon-background
              .icon-active-bg
            .category-el-title Адыгейские сыры
          a.main-products-category-el.active(href="#")
            .category-el-icon
              +icon('img-catalog-product-2', 'svg').icon-background
              .icon-active-bg
            .category-el-title Вытяжные сыры
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('catalog-product-3', 'png').icon-background
              .icon-active-bg
            .category-el-title Масло и спред
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('img-catalog-product-4', 'svg').icon-background
              .icon-active-bg
            .category-el-title Сыворотка
            
        .main-products-items
          +products-list(getData('pages/products/products'))
    +subscriptionForm().bg-white
    +footer().bg-white