extends ../layouts/default.pug

include ../modules/subscription.pug
include ../modules/footer.pug
include ../modules/header.pug

block variables
 -var pageTitle='Вытяжные'

block content
    +header()
    section.main-products
      .content.main-products-box
        span.title-page Вытяжные
        .main-products-category
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('img-catalog-product-1', 'png').icon-background
            .category-el-title Адыгейские сыры
          a.main-products-category-el.active(href="#")
            .category-el-icon
              +icon('img-catalog-product-2', 'png').icon-background
            .category-el-title Вытяжные сыры
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('img-catalog-product-3', 'png').icon-background
            .category-el-title Масло и спред
          a.main-products-category-el(href="#")
            .category-el-icon
              +icon('img-catalog-product-4', 'png').icon-background
            .category-el-title Сыворотка
            
        .main-products-items
          a.products-el(href="./product.html.html")
            .products-el-img
              img(src="./images/img-products-1-min.png")
              img(src="./images/img-products-1-min.png")
            .products-el-title Сыр «Охотничий» копченый
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

          a.products-el(href="./product.html")
            .products-el-img
              img(src="./images/img-products-2-min.png")
              img(src="./images/img-products-2-min.png")
            .products-el-title Сыр Косичка «Гиагинский» копченый
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

          a.products-el(href="./product.html")
            .products-el-img
              img(src="./images/img-products-3-min.png")
              img(src="./images/img-products-3-min.png")
            .products-el-title Сыр «Чечил» копченый
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

          a.products-el(href="./product.html")
            .products-el-img
              img(src="./images/img-products-4-min.png")
              img(src="./images/img-products-4-min.png")
            .products-el-title Сыр «Чечил»
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

          a.products-el(href="./product.html")
            .products-el-img
              img(src="./images/img-products-5-min.png")
              img(src="./images/img-products-5-min.png")
            .products-el-title Сыр «Спагетти» «Гиагинский» копченый
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

          a.products-el(href="./product.html")
            .products-el-img
              img(src="./images/img-products-6-min.png")
              img(src="./images/img-products-6-min.png")
            .products-el-title Сыр «Косичка» «Гиагинский»
            .products-el-hover
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('cloud-2', 'svg').cloud-1
              +icon('cloud-1', 'svg').cloud-2

    +subscription().bg-white
    +footer().bg-white