extends ../layouts/default.pug

include ../modules/header.pug
include ../modules/footer.pug
include ../modules/recepts.pug
include ../modules/subscription.pug

block variables
 -var pageTitle='Главная'

mixin main-slider(json)
  each data in json
    .main-index-box-slider-el.swiper-slide
      .main-index-box-slider-el-left
        +icon(data.icon, data.type)
      .main-index-box-slider-el-right
        h2 #{data.title}
        p #{data.text}
        a(href=data.link) Подробнее +

block content
  +header()
  section.main-index#main-index
    .content.main-index-box
      .main-index-box-slider
        .swiper-wrapper
          +main-slider(getData('mainSlider'))
    .main-index-box-control
      .main-index-box-control-arrows.rouded-buttons-group
        button.left.bg-white#slider-main-left
          +icon('arrow', 'svg')
        button.right.bg-white#slider-main-right
          +icon('arrow', 'svg')
      .main-index-box-control-items
  +recepts()
  section.promo.bg-additional
    .content.promo-box
      .promo-box-top
        .top-left
          img(src="./images/promo-box-top.svg", alt="Персонажи")
          +icon('promo-box-top-text', 'svg')
        .top-right
          h2 Эксклюзивное право на производство адыгейского сыра
          p НМПТ гарантирует сохранение оригинальной рецептуры и точного следования технологии производства.
          a(href="#") Что такое НМПТ
      .promo-box-bottom
        .bottom-img
          +icon('prevslogo', 'svg')
          .mountains
            img(src="./images/mountains.png", alt="ГоРы")
            .mountains-cheese
            +icon('rhombus', 'svg').rhombus-1
            +icon('rhombus', 'svg').rhombus-2
        .bottom-text
          h2 Наша продукция изготавливается в экологически чистом регионе из отборного коровьего молока
          .text-desc
            p Мы остаемся верны традициям, соблюдая оригинальную рецептуру.
            p Продукция изготавливается вручную лучшими 
              span мастерами-сыроделами.
            p Именно это отличает настоящий адыгейский сыр от аналогов из других регионов страны.
    span.bottom-ellips
  section.news
    .content.news-box
      .news-box-header
        h2 Новости
        a(href="") Все новости
      .news-box-row
        .news-box-lg
          .news-box-lg-image
            img(src="./images/news-background-1.jpg", alt="Новость 1")
          .news-box-content
            .news-box-time 25.05
              span .2019
            .news-box-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»
        .news-box-small
          .news-box-content
            .news-box-time 25.05
              span .2019
            .news-box-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»
        .news-box-small
          .news-box-content
            .news-box-time 25.05
              span .2019
            .news-box-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»

  +subscription().bg-white
  +footer().bg-white