extends ../layouts/default.pug

include ../modules/header.pug
include ../modules/footer.pug
include ../modules/recepts.pug
include ../modules/subscription.pug

block variables
  -var pageTitle='Главная'

mixin main-slider(json)
  each data in json
    .main-index-box-slider-el.swiper-slide
      .main-index-box-slider-el-left
        img(src=data.icon)
        .shadow
        .addons
          +icon('rhombus', 'svg').rhombus-1
          +icon('rhombus', 'svg').rhombus-2
          +icon('cheese', 'svg').cheese
      .main-index-box-slider-el-right
        h2 #{data.title}
        p #{data.text}
        +link('Подробнее', data.link, 'true')

block content
  +header()
  section.main-index#main-index.waveSection-bottom-clip(data-color="#ffffff")
    .main-index-backgound
    .main-index-animeel
      +icon('cloud-1', 'svg').cloud-left-1
      +icon('cloud-2', 'svg').cloud-left-2
      +icon('cloud-2', 'svg').cloud-left-3
      +icon('cloud-3', 'svg').cloud-right-1
    .content.main-index-box
      .main-index-box-slider
        .swiper-wrapper
          +main-slider(getData('mainSlider'))
    .main-index-box-control
      .main-index-box-control-arrows.main-slider-buttons
        +btn-slider('left').bg-white#slider-main-left
        +btn-slider('right').bg-white#slider-main-right
      .main-index-box-control-items
  +recepts()
  section.promo.bg-additional.waveSection(data-color="#f6f5f3")
    .content.promo-box
      .promo-box-top
        .top-left
          img(src="./images/promo-box-top.svg" alt="Персонажи")
          +icon('promo-box-top-text', 'svg')
        .top-right
          h2 Эксклюзивное право <br>на производство адыгейского сыра
          p НМПТ гарантирует сохранение оригинальной рецептуры и точного следования технологии производства.
          +link('Что такое НМПТ', '#', 'true')
      .promo-box-bottom
        .bottom-img
          +icon('print-main', 'svg')
          .mountains
            img(src="./images/mountains.png" alt="ГоРы")
            .mountains-cheese
              img(src="./images/shadow-products.svg" alt="")
            +icon('rhombus', 'svg').rhombus-1
            +icon('rhombus', 'svg').rhombus-2
        .bottom-text
          h2 Наша продукция изготавливается <br>в экологически чистом регионе <br>из отборного коровьего молока
          .text-desc
            p Мы остаемся верны традициям, соблюдая оригинальную рецептуру.
            p Продукция изготавливается вручную лучшими 
              span мастерами-сыроделами.
            p Именно это отличает настоящий адыгейский сыр от аналогов из других регионов страны.
  section.news
    .content.news-box
      .news-header
        h2 Новости
        +link('Все новости', './news_list.html', 'true')
      .news-row
        a.news-item(style="--color_rect: #FFF3D6" 
          href="./news_list.html")
          .news-item-image
            img(src="./images/news-background-1.jpg" alt="Новость 1")
          .news-content
            .news-time 25.05
              span .2019
            .news-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»
        a.news-item(href="./news_list.html")
          .news-content
            .news-time 25.05
              span .2019
            .news-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»
        a.news-item(href="./news_list.html")
          .news-content
            .news-time 25.05
              span .2019
            .news-text Молочный завод «Янино» стал участником благотворительного новогоднего мероприятия «завтрак в манеже»

  +subscription().bg-white
  +footer().bg-white