extends ../layouts/default.pug

include ../modules/footer.pug
include ../modules/header.pug
include ../modules/subscription.pug

block variables
 -var pageTitle='Главная'

block content
    +header()
    +subscription().bg-white
    +footer().bg-white