extends ../layouts/default.pug

include ../modules/forms.pug
include ../modules/header.pug
include ../modules/footer.pug
include ../modules/about.pug

block variables
  -var pageTitle='Политика конфиденциальности'

block content
  section.main-simplepage.bg-additional.waveSection-bottom(data-color="#f7f7f7")
    .content.main-simplepage-header
      h2 Политика конфиденциальности
  .main-simplepage-content
    h6 Пункт 1, заголовок туда сюда
    p На экспериментальном комбинате детского питания, входящем в группу компаний PepsiCo, была запущена линия по производству новинки для детей ̶ питьевого фруктового пюре «Агуша».
    p Производство инновационного продукта стало возможным благодаря запуску на предприятии новой высокотехнологичной линии производительностью 17 500 упаковок в час. Инспектор посторонних включений, установленный на линии, будет обеспечивать абсолютную безопасность выпускаемой продукции.
    p С запуском нового производственного оборудования ассортимент «Агуша» пополнится тремя наименованиями: пюре «Яблоко, клубника, земляника и клюква», «Яблоко, черника и шиповник», «Яблоко, чёрная смородина и ежевика», а представлен продукт будет в оригинальной упаковке «пирамидке» объемом. 
    h6 Пункт 2, заголовок туда сюда
    p На экспериментальном комбинате детского питания, входящем в группу компаний PepsiCo, была запущена линия по производству новинки для детей ̶ питьевого фруктового пюре «Агуша».
    p Производство инновационного продукта стало возможным благодаря запуску на предприятии новой высокотехнологичной линии производительностью 17 500 упаковок в час. Инспектор посторонних включений, установленный на линии, будет обеспечивать абсолютную безопасность выпускаемой продукции.
    p С запуском нового производственного оборудования ассортимент «Агуша» пополнится тремя наименованиями: пюре «Яблоко, клубника, земляника и клюква», «Яблоко, черника и шиповник», «Яблоко, чёрная смородина и ежевика», а представлен продукт будет в оригинальной упаковке «пирамидке» объемом. 
    p На экспериментальном комбинате детского питания, входящем в группу компаний PepsiCo, была запущена линия по производству новинки для детей ̶ питьевого фруктового пюре «Агуша».
    p Производство инновационного продукта стало возможным благодаря запуску на предприятии новой высокотехнологичной линии производительностью 17 500 упаковок в час. Инспектор посторонних включений, установленный на линии, будет обеспечивать абсолютную безопасность выпускаемой продукции.
    p С запуском нового производственного оборудования ассортимент «Агуша» пополнится тремя наименованиями: пюре «Яблоко, клубника, земляника и клюква», «Яблоко, черника и шиповник», «Яблоко, чёрная смородина и ежевика», а представлен продукт будет в оригинальной упаковке «пирамидке» объемом. 
    h6 Пункт 3, заголовок туда сюда
    p На экспериментальном комбинате детского питания, входящем в группу компаний PepsiCo, была запущена линия по производству новинки для детей ̶ питьевого фруктового пюре «Агуша».
    p Производство инновационного продукта стало возможным благодаря запуску на предприятии новой высокотехнологичной линии производительностью 17 500 упаковок в час. Инспектор посторонних включений, установленный на линии, будет обеспечивать абсолютную безопасность выпускаемой продукции.
    p С запуском нового производственного оборудования ассортимент «Агуша» пополнится тремя наименованиями: пюре «Яблоко, клубника, земляника и клюква», «Яблоко, черника и шиповник», «Яблоко, чёрная смородина и ежевика», а представлен продукт будет в оригинальной упаковке «пирамидке» объемом. 
    p На экспериментальном комбинате детского питания, входящем в группу компаний PepsiCo, была запущена линия по производству новинки для детей ̶ питьевого фруктового пюре «Агуша».
    p Производство инновационного продукта стало возможным благодаря запуску на предприятии новой высокотехнологичной линии производительностью 17 500 упаковок в час. Инспектор посторонних включений, установленный на линии, будет обеспечивать абсолютную безопасность выпускаемой продукции.
    p С запуском нового производственного оборудования ассортимент «Агуша» пополнится тремя наименованиями: пюре «Яблоко, клубника, земляника и клюква», «Яблоко, черника и шиповник», «Яблоко, чёрная смородина и ежевика», а представлен продукт будет в оригинальной упаковке «пирамидке» объемом.
  +subscriptionForm()
  +footer()