extends ../layouts/default.pug

include ../modules/footer.pug
include ../modules/header.pug
include ../modules/recepts.pug
include ../modules/wherebuy.pug
include ../modules/forms.pug

block variables
 -var pageTitle='Сыр Косичка «Гиагинский» копченый'

block content
    +header()
    section.main-product
      .main-product-box
        .product-item
          .product-item-img
            .image
              img(src="./images/img-products-2-min.png")
              img(src="./images/img-products-2-min.png")
            .addons
              +icon('cloud-1', 'svg').cloud-1
              +icon('cloud-2', 'svg').cloud-2
              +icon('cloud-2', 'svg').cloud-3
              +icon('rhombus', 'svg').rhombus-1
              +icon('rhombus', 'svg').rhombus-2
              +icon('print-product', 'svg').print
        .content-section
          .pagination
            a.pagination-back Продукция
          .product-title Сыр Косичка «Гиагинский» копченый
          .product-composition.left-product-mg
            .product-composition-title Состав:
            .product-composition-desc Молоко нормализированное пастеризованное, молокосвертывающий ферментный препарат микробного происхождения, закваска термофильных молочнокислых микроорганизмов, соль пищевая
          .product-desc.left-product-mg Это настоящая находка для больших поклонников сыра, которая порадует и оригинальным вкусом, и необычным оформлением. Легкий аромат копчения, приятная слоистая текстура, умеренно упругая корочка соблазнительного золотисто-коричневого цвета и мягкие волокна с нежным сливочным вкусом — копченый сыр «Косичка» сочетает в себе, казалось бы, совершенно несовместимые гастрономические качества.
          .product-row
            .product-row-el
              +icon('beer', 'svg').icon
              .title Идеален как закуска к пиву
            .product-row-el
              +icon('salad', 'svg').icon
              .title Отличная добавка к салатам
            .product-row-el
              +icon('pan', 'svg').icon
              .title Ингредиент сложных соусов для спагетти
            .product-row-el
              +icon('shawarma', 'svg').icon
              .title Для приготовления блюд национальной кухни
            .product-row-el
              +icon('paste', 'svg').icon
              .title Добавка к пасте
          .product-slider
            .buttons.main-slider-buttons
              +btn-slider('left').bg-white#slider-main-left
              +btn-slider('right').bg-white#slider-main-right
            .swiper-wrapper
              .product-img.swiper-slide
                img(src="./images/product-slider-1.jpg")
              .product-img.swiper-slide
                img(src="./images/product-slider-1.jpg")
            .product-bullets
              .swiper-wrapper
                .product-bullets-thumb.swiper-slide
                  .thumb-wrapper
                    img(src="./images/product-slider-1.jpg")
                .product-bullets-thumb.swiper-slide
                  .thumb-wrapper
                    img(src="./images/product-slider-1.jpg")
          .product-desc-row.left-product-mg
            .product-desc-row-el
              .title формовка:
              .desc Весовой
            .product-desc-row-el
              .title можно хранить:
              .desc 60 суток
            .product-desc-row-el
              .title при температуре:
              .desc 0-6 °C
            .product-desc-row-el
              .title в упаковке:
              .desc 4 шт.
            .product-desc-row-el
              .title вес упаковки:
              .desc 5 кг
          +wherebuy().left-product-mg
        a.next-product(href="./product.html")
          .wrapper
            .text
                .next следующий продукт
                .title Сыр «Чечил» копченый
            .image
                img(src="./images/img-products-3-min.png")
                img(src="./images/img-products-3-min.png")
    +recepts()
    +subscriptionForm().bg-white
    +footer().bg-white