extends ../layouts/default.pug

include ../modules/forms.pug
include ../modules/footer.pug
include ../modules/header.pug

block variables
 -var pageTitle='Рецепты'

mixin recept-slider(json)
  each data in json
    a.recepts-box-slider-card.page-card(href=data.link)
      img(src="./images/" + data.image, alt=data.title).fullImg
      .recepts-box-slider-card-text
        p.title #{data.title}
        p.time #{data.time}
          +icon('timer', 'svg')

block content
  +header()
  section.main-recepts 
    .content.main-recepts-box
      .recepts-header
        h2 Рецепты
      .recepts-wrapper
        .text-left Рецепты
        .recepts-wrapper-content
          +recept-slider(getData('sliders/recepts'))
        form.recepts-wrapper-list
          .list-group
            .list-group-title Категория:
            .list-group-selection
              +checkbox('all', 'all', 'Все')
              +checkbox('snacks', 'snacks', 'Закуски')
              +checkbox('salads', 'salads', 'Салаты')
              +checkbox('backing', 'backing', 'Выпечка')
              +checkbox('hot', 'hot', 'Горячие блюда')
          .list-group
            .list-group-title Продукт:
            .list-group-selection.product-select
              +checkbox('1', '1', 'Сыр «Косичка» «Гиагинский» копченый')
              +checkbox('2', '2', 'Сыр «Косичка» «Гиагинский»')
              +checkbox('3', '3', 'Сыр «Охотничий» «Гиагинский» копченый')
              +checkbox('4', '4', 'Сыр «Спагетти» «Гиагинский» копченый')
              +checkbox('5', '5', 'Сыр «Спагетти» «Гиагинский»')

              +checkbox('6', '6', 'Сыр «Адыгейский»')
              +checkbox('7', '7', 'Сыр «Адыгейский» копченый')
              +checkbox('8', '8', 'Сыр «Адыгейский Домашний»')
              +checkbox('9', '9', 'Сыр «Сулугуни»')
              +checkbox('10', '10', 'Сыр «Чечил»')
              +checkbox('11', '11', 'Сыр «Чечил» копченый')
              +checkbox('12', '12', 'Сыр «Охотничий» копченый')
              +checkbox('13', '13', 'Сыр «Косичка» копченый Дарфреш')
              button.display-full Показать все 
          button.clear Сбросить фильтр
  +subscriptionForm().bg-additional
  +footer().bg-additional