extends ../layouts/default.pug

block variables
  -var pageTitle='test'


block content
    .tooltip.tooltip--cora(data-type="cora")
        .tooltip__trigger(role="tooltip", aria-describedby="info-cora")
            span.tooltip__trigger-text Cora
        .tooltip__base
            svg.tooltip__shape(width="100%", height="100%", viewBox="0 0 400 300")
                path(d="M 199,21.9 C 152,22.2 109,35.7 78.8,57.4 48,79.1 29,109 29,142 29,172 45.9,201 73.6,222 101,243 140,258 183,260 189,270 200,282 200,282 200,282 211,270 217,260 261,258 299,243 327,222 354,201 371,172 371,142 371,109 352,78.7 321,57 290,35.3 247,21.9 199,21.9 Z")
            .tooltip__content#info-cora Be yourself; everyone else is already taken.