.modal {
  display: none;
  &-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.26);
  }
  &.active {
    display: block;
    position: fixed!important;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
    transition: background .3s ease;
    margin-left: 0px;
    margin-top: 0px;
  }
}