section.next {
  position: relative;
  background-image: url('../images/bg-product.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  padding-top: 0px;

  @include screen('custom-860', 'max') {
    background-image: unset;
  }

  &::after {
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    background: url(../images/catalog-bottom.png) no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: 2;
    width: 100%;
    height: 69px;
    position: absolute;
}
}

.next-product {
  height: 332px;
  position: relative;
  z-index: 2;
  width: 80%;
  display: block;
  margin: 0 auto;

  @include screen('lg', 'max') {
    max-width: 95%;
  }

  @include screen('custom-860', 'max') {
    position: relative;
    margin-bottom: 0px;
    height: auto; 
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 90%;
    margin: 0 auto;

    @include screen('custom-860', 'max') {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .text {
      position: relative;
      color: #312930;
      margin-left: 80px;

      @include screen('lg', 'max') {
        margin-left: 10px;
      }

      @include screen('custom-860', 'max') {
        margin: 55px 0px 70px;
      }

      @include screen('xs', 'max') {
        margin: 20px 0 70px;
      }

      .next {
        font-family: 'CeraPro';
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 52px;
        text-transform: uppercase;
      }
  
      .title {
        width: 80%;
        font-family: 'PFRegalTextPro';
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 52px;

        @include screen('lg', 'max') {
          font-size: 30px;
          line-height: 30px;
        }

        @include screen('xs', 'max') {
          font-size: 18px;
          line-height: 20px;
          width: 100%;
        }
      }
    }
  
    .image {
      position: relative;
      object-fit: cover;
      margin-bottom: -10%;
      height: auto;
      width: 28%;

      @include screen('custom-860', 'max') {
        width: 80%;
      }
  
      img {
        width: 100%;

        @include screen('custom-860', 'max') {
          width: 100%;
          height: auto;
        }

        &:first-child {
          left: -30%;
          position: absolute;
        }
      }
    }
  }

  &::before {
    background-color: #faf3e1;
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
    display: block;
    transform: skewX(-10deg);
    transition: background-color 0.3s;

    @include screen('custom-860', 'max') {
      transform: skewX(-5deg);
    }

    @include screen('xs', 'max') {
      transform: skewX(-3deg);
    }
  }

  &:hover {
    &::before {
      background-color: #f9e9c0;
    }
  }
}