.fixed-wrapper-main-products {
  background: $background-additional;
  height: 100vh;
}

.main-products {
  background: #fff;
  position: relative;

  @include screen('md', 'max') {
    background: url('../images/catalog-bottom.png') no-repeat $background-additional;
    background-position: bottom;
    padding-bottom: 20px;

    &-fixed {
      display: none;
    }
  }

  @include screen('md', 'min') {
    &-fixed {
      position: absolute;
      height: 240px;
      width: calc(100% - 40px);
      left: 50%;
      bottom: 3%;
      z-index: 1;
      background: #fff;
      transform: translateX(-50%);
      padding-right: 20px;
      padding-left: 20px;

      canvas {
        width: 100%;
        top: 0%;
        z-index: 5;
      }
  
      .text-bottom {
        position: absolute;
        display: block;
        color: #fff;
        font-family: 'Lineatura';
        position: absolute;
        bottom: 0%;
        font-size: 260px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        z-index: 2;
  
        @include screen('lg', 'max') {
          display: none;
        }
      }
    }

    &::after {
      background: $background-additional;
      background-position: bottom;
      background-size: contain;
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 850px;
      top: 0px;
      left: 0px;
      z-index: -1;
    }
  }

  &-box {
    padding-top: 170px;
    z-index: 1;
    position: relative;

    @include screen('xs', 'max') {
      padding-top: 115px;
    }

    span.title-page {
      position: absolute;
      font-family: 'Lineatura';
      font-style: normal;
      font-weight: normal;
      font-size: 260px;
      color: #fff;
      top: 19%;

      &::after {
        position: absolute;
        display: block;
        content: "";
        background-repeat: no-repeat;
        width: 100vw;
        height: 163px;
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
      }

      @include screen('md', 'max') {
        display: none;
      }
    }
  }

  &-category {
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

    @include screen('md', 'max') {
      max-width: 100%;
    }

    @include screen('sm', 'max') {
      align-items: flex-start;
    }

    &-el {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 25%;

      .category-el-icon {
        border-radius: 50px;
        border: 1px dashed #312930;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: relative;
        @include screen('sm', 'max') {
          padding: 4px;
          width: 72px;
          height: 72px;
        }

        @include screen('xs', 'max') {
          padding: 4px;
          width: 63px;
          height: 63px;
        }

        .icon-background {
          z-index: 10;
          font-size: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          &.png{
            transform-origin: center center;
            transform:  translate(-50%,-50%) scale(0.5);
            @include screen('xs', 'max') {
              transform:  translate(-50%,-50%) scale(0.4);
            }
          }
          @include screen('sm', 'max') {
            font-size: 8px;
          }

          @include screen('xs', 'max') {
            font-size: 6px;
          }
        }
      }

      .category-el-title {
        font-family: "CeraPro";
        font-size: 16px;
        color: #312930;
        text-align: center;

        @include screen('sm', 'max') {
          font-size: 12px;
        }
      }

      &:hover {
        .category-el-icon {
          border: 1px dashed #EE7754;
        }

        .category-el-title {
          color: #EE7754;
        }
      }
    }

    &-el.active {
      .category-el-icon {
        border: 1px dashed #EE7754;
      }
  
      .icon-active-bg {
        width: 72px;
        height: 72px;
        background: #EE7754;
        position: absolute;
        border-radius: 50px;

        @include screen('md', 'max') {
          width: 58px;
          height: 58px;
        }

        @include screen('xs', 'max') {
          width: 50px;
          height: 50px;
        }
      }

      .category-el-title {
        color: #EE7754;
      }
    }
  }

  &-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 137px;
    grid-row-gap: 116px;

    @include screen('md', 'max') {
      grid-column-gap: 10px;
      grid-row-gap: 80px; 
    }

    @include screen('950', 'max') {
      grid-template-columns: 100%;
    }
  }

  .products-container:nth-child(odd) {
    & > .products-hover {
      .rhombus-1 {
        bottom: 31%;
        font-size: 7px;
        left: -15%;
        transition: transform .4s ease-out;
      }

      .rhombus-2 {
        right: 0%;
        font-size: 4px;
        top: 25%;
        transition: transform .4s ease-out;
      }

      .cloud-1 {
        top: 18%;
        left: -6%;
        transition: transform .4s ease-out;
      }

      .cloud-2 {
        right: -12%;
        bottom: 40%;
        transition: transform .4s ease-out;
      }
    }

    &:hover {
      & > .products-hover {
        .rhombus-1, .cloud-1 {
          transform: translate(100px,-50%);
        }

        .rhombus-2, .cloud-2 {
          transform: translate(-100%,-50%);
        }
      }
    }
  }

  .products-container:nth-child(even) {
    & > .products-hover {
      .rhombus-1 {
        bottom: 60%;
        font-size: 7px;
        left: -13%;
        transition: transform .4s ease-out;
      }

      .rhombus-2 {
        right: 4%;
        font-size: 4px;
        bottom: 35%;
        transition: transform .4s ease-out;
      }

      .cloud-1 {
        top: 7%;
        left: 8%;
        transition: transform .4s ease-out;
      }

      .cloud-2 {
        right: -10%;
        bottom: 64%;
        transition: transform .4s ease-out;
      }
    }

    &:hover {
      & > .products-hover {
        .rhombus-1, .cloud-1 {
          transform: translate(100px,-50%);
        }

        .rhombus-2, .cloud-2 {
          transform: translate(-100%,-50%);
        }
      }
    }
  }

  .products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    transition: .3s color;

    @include screen('sm', 'max') {
      align-items: flex-start;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      & > .products-hover {
        opacity: 1;

        .rhombus-1, .rhombus-2, .cloud-1, .cloud-2 {
          transform: translateX(0) translateY(-50%);
        }
      }

      .products-title {
        color: #EE7754;
      }
    }

    &::before {
      position: absolute;
      top: 10%;
      left: 12%;
      background: #ffe3be;
      transform: rotate(45deg);
      width: 396px;
      height: 396px;
      display: block;
      content: "";
      opacity: 0;
      transition: opacity .3s;
      z-index: 1;

      @include screen('md', 'max') {
        display: none;
      }
    }

    & > .products-img {
      position: relative;
      z-index: 2;
      height: 500px;

      @include screen('sm', 'max') {
        width: 100%;
        height: auto;
      }

      &::after {
        background: url('../images/shadow-products.svg') no-repeat;
        background-position: bottom;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        bottom: -5%;
        left: -50%;
        transform: translateX(50%);

        @include screen('md', 'max') {
          display: none;
        }
      }

      img {
        position: relative;
        width: auto;
        height: 431px;
        z-index: 10;

        @include screen('950', 'max') {
          position: relative;
          width: 70%;
          height: auto;
          margin-left: 0%;
        }

        @include screen('sm', 'max') {
          width: 100%;
        }
      }
    }

    & > .products-title {
      max-width: 361px;
      margin: 0 auto;
      @include UI-Font-PFRegalTextPro-bold;
      z-index: 2;

      @include screen('950', 'max') {
        margin: 0;
        text-align: left;
        max-width: 100%;
      }
    }
    
    & > .products-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      @include screen('md', 'max') {
        display: none;
      }

      .rhombus-1, .rhombus-2, .cloud-1, .cloud-2 {
        position: absolute;
        z-index: 10;
        transition: transform .2s ease-out;
      }
    }
  }
}