.main-products {
  background: #fff;

  @include screen('md', 'max') {
    background: url('../images/catalog-bottom.png') no-repeat $background-additional;
    background-position: bottom;
    padding-bottom: 20px;
  }

  @include screen('md', 'min') {
    &::after {
      background: url('../images/catalog-bottom.png') no-repeat $background-additional;
      background-position: bottom;
      background-size: contain;
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 850px;
      top: 0px;
      left: 0px;
      z-index: 0;
    }
  }

  &-box {
    padding-top: 170px;
    z-index: 1;
    position: relative;

    @include screen('xs', 'max') {
      padding-top: 115px;
    }

    span.title-page {
      position: absolute;
      font-family: 'Lineatura';
      font-style: normal;
      font-weight: normal;
      font-size: 260px;
      color: #fff;
      top: 19%;

      &::after {
        position: absolute;
        display: block;
        content: "";
        background-repeat: no-repeat;
        width: 100vw;
        height: 163px;
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
      }

      @include screen('md', 'max') {
        display: none;
      }
    }
  }

  &-category {
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

    @include screen('md', 'max') {
      max-width: 100%;
    }

    @include screen('sm', 'max') {
      align-items: flex-start;
    }

    &-el {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 25%;

      .category-el-icon {
        border-radius: 50px;
        border: 1px dashed #312930;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        overflow: hidden;

        @include screen('sm', 'max') {
          padding: 4px;
          width: 72px;
          height: 72px;
        }

        @include screen('xs', 'max') {
          padding: 4px;
          width: 63px;
          height: 63px;
        }

        .icon-background {
          z-index: 10;
          font-size: 10px;

          @include screen('sm', 'max') {
            font-size: 8px;
          }

          @include screen('xs', 'max') {
            font-size: 6px;
          }
        }
      }

      .category-el-title {
        font-family: "CeraPro";
        font-size: 16px;
        color: #312930;
        text-align: center;

        @include screen('sm', 'max') {
          font-size: 12px;
        }
      }

      &:hover {
        .category-el-icon {
          border: 1px dashed #EE7754;
        }

        .category-el-title {
          color: #EE7754;
        }
      }
    }

    &-el.active {
      .category-el-icon {
        border: 1px dashed #EE7754;
      }
  
      .icon-active-bg {
        width: 72px;
        height: 72px;
        background: #EE7754;
        position: absolute;
        border-radius: 50px;

        @include screen('md', 'max') {
          width: 58px;
          height: 58px;
        }

        @include screen('xs', 'max') {
          width: 50px;
          height: 50px;
        }
      }

      .category-el-title {
        color: #EE7754;
      }
    }
  }

  &-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 137px;
    grid-row-gap: 116px;
  }

  .products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    position: relative;
    justify-content: flex-start;
    align-items: center;

    &::before {
      position: absolute;
      top: 10%;
      left: 12%;
      background: #ffe3be;
      transform: rotate(45deg);
      width: 396px;
      height: 396px;
      display: block;
      content: "";
      opacity: 1;
      transition: opacity .3s;
      z-index: 1;
    }

    & > .products-img {
      position: relative;
      width: 361px;
      z-index: 2;
      height: 500px;

      &::after {
        background: url('../images/shadow-products.svg') no-repeat;
        background-position: bottom;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        bottom: -5%;
        left: -50%;
        transform: translateX(50%);
      }

      img {
        position: absolute;
        width: auto;
        height: 431px;
        margin-left: -10%;

        &:first-child {
          z-index: 10;
        }

        &:last-child {
          left: 30%;
        }
      }
    }

    & > .products-title {
      width: 361px;
      margin: 0 auto;
      @include UI-Font-PFRegalTextPro-bold;
      z-index: 2;
    }
    
    & > .products-hover {
      position: relative;

      .rhombus-1, .rhombus-2, .cloud-1, .cloud-2 {
        position: absolute;
        opacity: 0;
      }
    }
  }
}