.main-simplepage {
  color: #312930;
  padding-top: 120px;
  &-header {
    h2 {
      margin-top: 120px;
      padding-bottom: 120px;
      @include UI-Font-PFRegalTextPro-bold;

      @include screen('sm', 'max') {
        margin-top: 40px;
        padding-bottom: 80px;
      }
    }
  }

  &-content {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 60px;
    padding-right: $min-main-padding;
    padding-left: $min-main-padding;

    @include screen('sm', 'max') {
      padding-top: 0px;
    }

    h6 {
      font-family: 'PFRegalTextPro';
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 34px;
      margin-bottom: 30px;
      margin-top: 80px;
    }

    p {
      margin: 20px 0;
      font-family: 'CeraPro';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }
}