section {
  &.subscription {
    padding-top: 200px;
  }
}

.subscription-box {
  position: relative;

  &-marquee {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 17px;
    background-image: url("../images/marquee-background.svg");
    background-repeat: repeat-x;
    animation: subscription-text-move 3s linear infinite;
    @keyframes subscription-text-move {
      0% {
        background-position-x: 427px;
      }
      100% {
        background-position-x: 0px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $color-text-main;

    @include screen("sm", "max") {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 40px;
    }

    & > h2 {
      width: 30%;
      margin-bottom: 40px;
      @include UI-Font-PFRegalTextPro-bold;

      @include screen("sm", "max") {
        width: 100%;
      }
    }

    & > .main-field {
      width: 40%;
      margin-bottom: 0px;

      @include screen("sm", "max") {
        width: 100%;
      }
    }
  }
}
